Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

fix
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

remove ts
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

match parser_pyx
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

cleaner to just call the cpp function as we don't need to aggregate updated values
  can/parser_pyx.pyx
Due: none

draft
  can/tests/test_packer_parser.py
Due: pylint

remove default vals
  can/tests/test_packer_parser.py
Due: pylint

remove default vals
  can/tests/test_dbc_exceptions.py
Due: pylint

tests: remove CANParser default values (#550)
  can/tests/test_dbc_exceptions.py
  can/tests/test_packer_parser.py
Due: pylint

some tests
  can/tests/test_packer_parser.py
Due: pylint

fix test
  can/tests/test_packer_parser.py
Due: pylint

clean up
  can/tests/test_packer_parser.py
Due: pylint

update comment
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

add comment for good ignition
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

update
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

GM: add ignition signals used in panda (#549)
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

test clean up
  can/tests/test_packer_parser.py
Due: pylint

set scale to 1 and make signals match
  generator/toyota/_comma.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

rm useless round
  can/dbc.py
Due: pylint

add clarifying comments
  can/common_dbc.h
Due: cppcheck

Revert "remove ts"
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

fix order
  can/parser_pyx.pyx
Due: none

use vals
  can/common.h
  can/parser.cc
Due: cppcheck

fix dup
  can/parser_pyx.pyx
Due: none

CANParser: add field for all updated values (#548)
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

only return if updated again
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

make sure updated is empty if nothing is updated
  can/tests/test_packer_parser.py
Due: pylint

draft
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

bit faster
  can/parser_pyx.pyx
Due: none

use maps
  can/parser_pyx.pyx
Due: none

just a diff
  can/parser_pyx.pyx
Due: none

Revert "just a diff"
  can/parser_pyx.pyx
Due: none

Revert "use maps"
  can/parser_pyx.pyx
Due: none

only create the field classes once, speed up to ~0.3 seconds
  can/parser_pyx.pyx
Due: none

remove ts field
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

CANParser: remove ts field (#557)
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

return SignalValue one iteration after it's been updated to reset updated field faster
  can/common.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
