Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

remove dbc_template.cc
  can/dbc_template.cc
Due: none

use stoul
  can/dbc.cc
Due: cppcheck

fix build error: array designators are a C99 extension
  can/dbc.cc
Due: cppcheck

space
  can/dbc_parser_pyx.pyx
Due: none

space
  can/dbc.cc
  can/packer.cc
  can/parser.cc
Due: cppcheck

refactor startsWith
  .gitignore
  can/dbc.cc
Due: cppcheck

fix dbc file path problem
  can/SConscript
  can/dbc.cc
Due: cppcheck

assert
  can/parser.py
Due: pylint

restore dbc.py for test_longitudinal.py
  can/dbc.py
Due: pylint

no reanme DBCParser
  can/tests/test_dbc.py
Due: pylint

Subaru signals update (#474)
  generator/subaru/_subaru_global.dbc
  generator/subaru/_subaru_preglobal_2015.dbc
  generator/subaru/subaru_forester_2017.dbc
  subaru_forester_2017_generated.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
  subaru_outback_2015_generated.dbc
  subaru_outback_2019_generated.dbc
Due: none

Toyota: Correct Comment on Barriers Values (#479)
  generator/toyota/_toyota_2017.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

add ITS Connect Lead Signal
  generator/toyota/_toyota_2017.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

better comment
  generator/toyota/_toyota_2017.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

Ford: replace with extensive dbc
  ford_lincoln_base_pt.dbc
Due: none

Ford: additional signal for unknown IPMA_Data value
  ford_lincoln_base_pt.dbc
Due: none

Toyota: add ITS Connect Lead Signal (#480)
  generator/toyota/_toyota_2017.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

Ford: update common DBC (#476)
  ford_lincoln_base_pt.dbc
Due: none

debug prints
  can/parser.cc
Due: cppcheck

too much info
  can/parser.cc
Due: cppcheck

move cruise_params
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

remove debug
  can/parser.cc
Due: cppcheck

add set me for 2022 civic
  generator/honda/_bosch_2018.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_ex_2022_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_hybrid_2019_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
Due: none

Revert "add set me for 2022 civic"
  generator/honda/_bosch_2018.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_ex_2022_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_hybrid_2019_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
Due: none

new lane line signal
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

Road sign signals and new LKAS hud message
  generator/honda/_bosch_2018.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_ex_2022_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_hybrid_2019_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
Due: none

opps
  generator/honda/_bosch_2018.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_ex_2022_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_hybrid_2019_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
Due: none

add
  generator/honda/_bosch_2018.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_ex_2022_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_hybrid_2019_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
Due: none

correct bit
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

Mazda: a few radar signals
  mazda_2017.dbc
Due: none

Mazda: more signals for new Mazdas
  mazda_3_2019.dbc
Due: none

Mazda: more signals for new Mazdas (#483)
  mazda_3_2019.dbc
Due: none

rename SEATS_DOORS to BODY_CONTROL_STATE
  generator/toyota/_toyota_2017.dbc
Due: none

rename STEERING_LEVERS to BLINKERS_STATE
  generator/toyota/_toyota_2017.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
