Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

Honda Civic 2022: add FCW bits (#651)
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

add changes from PR (file was moved)
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  generator/chrysler/_stellantis_common.dbc
  generator/chrysler/chrysler_pacifica_2017_hybrid.dbc
Due: none

Fix accelerator_position
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  generator/chrysler/_stellantis_common.dbc
Due: none

VW PQ: Message updates, checksum and counter support (#633)
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  vw_golf_mk4.dbc
Due: cppcheck

Bmw eXX: filling some gaps (#662)
  bmw_e9x_e8x.dbc
Due: none

Nissan xterra 2011 (#661)
  nissan_xterra_2011.dbc
Due: none

gv70 dbc file
  hyundai_genesis_gv70.dbc
Due: none

gv70 dbc
  hyundai_genesis_gv70.dbc
Due: none

add knee, remove junk
  comma_body.dbc
Due: none

typo
  comma_body.dbc
Due: none

capitalize gear and counter in accelerator underscore added to counter for cruise buttons
  hyundai_genesis_gv70.dbc
Due: none

lka and minor updates
  hyundai_genesis_gv70.dbc
Due: none

Subaru: Counter -> COUNTER
  generator/subaru/_subaru_global.dbc
  generator/subaru/_subaru_preglobal_2015.dbc
  generator/subaru/subaru_forester_2017.dbc
  generator/subaru/subaru_global_2017.dbc
  generator/subaru/subaru_global_2020_hybrid.dbc
  generator/subaru/subaru_outback_2015.dbc
  generator/subaru/subaru_outback_2019.dbc
Due: none

run generator
  subaru_forester_2017_generated.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
  subaru_outback_2015_generated.dbc
  subaru_outback_2019_generated.dbc
Due: none

update tests
  can/tests/test_packer_parser.py
Due: pylint

revert that
  generator/subaru/_subaru_preglobal_2015.dbc
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_generated.dbc
  subaru_outback_2019_generated.dbc
Due: none

Subaru: Counter -> COUNTER (#666)
  can/tests/test_packer_parser.py
  generator/subaru/_subaru_global.dbc
  generator/subaru/_subaru_preglobal_2015.dbc
  generator/subaru/subaru_forester_2017.dbc
  generator/subaru/subaru_global_2017.dbc
  generator/subaru/subaru_global_2020_hybrid.dbc
  generator/subaru/subaru_outback_2015.dbc
  generator/subaru/subaru_outback_2019.dbc
  subaru_forester_2017_generated.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
  subaru_outback_2015_generated.dbc
  subaru_outback_2019_generated.dbc
Due: pylint

checksum/counter support for ACC_System
  vw_golf_mk4.dbc
Due: none

nissan-xterra-2011: progress
  nissan_xterra_2011.dbc
Due: none

add gv70 dbc file to checksum
  can/dbc.cc
  hyundai_genesis_gv70.dbc
Due: cppcheck

add CHECKSUM to Motor_5
  vw_golf_mk4.dbc
Due: none

minor cleanup
  can/dbc.cc
Due: cppcheck

VW PQ: More cleanup and message updates (#668)
  can/dbc.cc
  vw_golf_mk4.dbc
Due: cppcheck

teach the packer how to count
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
Due: cppcheck

fix tests
  can/tests/test_checksums.py
  can/tests/test_packer_parser.py
Due: pylint

same as checksum
  can/packer.cc
Due: cppcheck

little test
  can/packer.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

teach the packer how to count (#669)
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
  can/tests/test_checksums.py
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

counters are all the same
  can/dbc.cc
Due: cppcheck

always set checksum
  can/packer.cc
Due: cppcheck

enabling this broke a bunch of stuff, revert for now
  can/dbc.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
