Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

add cpplint (#773)
  .pre-commit-config.yaml
  Dockerfile
  SConstruct
  can/common.cc
  can/common.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
Due: cppcheck

Mazda: Add vehicle acceleration of x and y axis (NED) (#767)
  mazda_2017.dbc
Due: none

toyota: update CAR_MOVEMENT and ODOMETER signal (#748)
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

remove *.pyi
  can/common.pyi
  can/packer_pyx.pyi
  can/parser_pyx.pyi
Due: none

just remove skip-file
  can/can_define.py
  can/packer.py
  can/parser.py
Due: pylint

add some type hints (#774)
  can/packer.py
  generator/generator.py
Due: pylint

upper jerk
  hyundai_canfd.dbc
Due: none

Hyundai CAN-FD: SCC upper jerk limit signal (#775)
  hyundai_canfd.dbc
Due: none

Port: honda odysset hybird 2022 china
  honda_odyssey_hybrid_2022_china_can_generated.dbc
Due: none

32 bytes
  hyundai_canfd.dbc
Due: none

bump
  mazda_2019.dbc
Due: none

fix counter
  can/common.cc
  can/dbc.cc
  mazda_2019.dbc
Due: cppcheck

CONTROL_OFF -> IDLESTOP_ALLOW
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

update comment
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

Honda Civic 2022: Rename CONTROL_OFF -> IDLESTOP_ALLOW (#776)
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

HKG CAN-FD: Rename reversing signal in BLINDSPOTS_FRONT_CORNER_1 (#770)
  hyundai_canfd.dbc
Due: none

HKG CAN-FD: Second alternate GEAR message (#768)
  hyundai_canfd.dbc
Due: none

op compiles
  can/tests/test_packer_parser.py
Due: pylint

add parser test
  can/tests/test_packer_parser.py
Due: pylint

add support to regex parser
  can/common_dbc.h
  can/dbc.cc
Due: cppcheck

make test pass
  can/dbc.cc
  can/parser.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

add comment
  can/dbc.cc
Due: cppcheck

add comment
  can/parser.cc
Due: cppcheck

store info to parse mux on signal itself
  can/common_dbc.h
  can/dbc.cc
  can/parser.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

Mazda: add MRCC vehicle ahead distance on gauge
  mazda_2017.dbc
Due: none

Mazda: add MRCC vehicle ahead distance on gauge (#771)
  mazda_2017.dbc
Due: none

added imperial unit
  mazda_2019.dbc
Due: none

Ford: rename TrnRng_D_RqGsm Sport value
  ford_lincoln_base_pt.dbc
Due: none

Ford: rename TrnRng_D_RqGsm Sport value (#778)
  ford_lincoln_base_pt.dbc
Due: none

add timestamp back, logMonoTime
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

rename ts_nanos
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
