Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.15.0
    hooks:
    -   id: cython-lint
    -   id: double-quote-cython-strings
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        args:
        - --quiet
        - --counting=detailed
        - --linelength=240
        - --filter=-legal,-build/include_order,-readability/casting,-whitespace/braces,-whitespace/indent,-whitespace/operators,-build/c++11,-readability/todo,-runtime/explicit,-runtime/int,-whitespace/comments,-readability/braces,-runtime/arrays,-runtime/references
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

ignore uv.lock for now
  .gitignore
Due: none

car: default now_nanos value
  opendbc/car/interfaces.py
Due: pylint

new optional syntax
  opendbc/car/interfaces.py
Due: pylint

Subaru: driver torque sensor Nm scaling factor and unit
  opendbc/dbc/generator/subaru/_subaru_global.dbc
Due: none

Update cython (#903)
  Dockerfile
  SConstruct
  requirements.txt
Due: none

CANParser: parse all signals for given messages (#828)
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_checksums.py
  can/tests/test_dbc_exceptions.py
  can/tests/test_dbc_parser.py
  can/tests/test_packer_parser.py
  can/tests/test_parser_performance.py
Due: pylint, cppcheck

CI: Pylint to ruff (#911)
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
Due: none

cpplint: more filters (#925)
  .pre-commit-config.yaml
  can/common.cc
Due: cppcheck

Subaru: Remove unrelated bit from transmission RPM signal (#918)
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

Subaru: added static and hba signals (#920)
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

Subaru: ALT LKAS request is actually angle (#904)
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

Toyota: Follow distance signal for unsupported DSU cars (#915)
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

pre-commit: autoupdate hooks #908
  .pre-commit-config.yaml
  can/packer_pyx.pyx
Due: none

'test_dbc_parser: ensure we're running on real DBCs'
  can/tests/test_dbc_parser.py
Due: pylint

Ruff: propogate config from OP (#916)
  pyproject.toml
Due: none

Subaru: move infotainment up (#924)
  generator/subaru/_subaru_global.dbc
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

VW PQ: AWV_only signal fix (#921)
  vw_golf_mk4.dbc
Due: none

Hyundai CAN FD: fix wheel speed units (#919)
  hyundai_canfd.dbc
Due: none

pre-commit: autoupdate hooks (#917)
  .pre-commit-config.yaml
Due: none

Subaru: more dbc updates for long (#859)
  generator/subaru/_subaru_global.dbc
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

parser: update_strings propagate cpp exceptions in py bindings (#912)
  can/common.pxd
  can/tests/test_dbc_exceptions.py
Due: pylint

Hyundai SantaFe CM and Opel Omega B databases added (#910)
  hyundai_santafe_2007.dbc
  opel_omega_2001.dbc
Due: none

Toyota: rename ACC_HUD to PCS_HUD (#905)
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Hyundai CAN-FD: Alternate LKAS and BLINKERS signals (#892)
  hyundai_canfd.dbc
Due: none

disable parser perf test for now
  can/tests/test_parser_performance.py
Due: pylint

update build flag
  SConstruct
Due: none

pre-commit: autoupdate hooks (#922)
  .pre-commit-config.yaml
Due: none

Honda: new EPS faulted value (#874)
  can/tests/test_define.py
  generator/honda/honda_civic_touring_2016_can.dbc
  honda_civic_touring_2016_can_generated.dbc
Due: pylint

improve logging (#1048)
  .pre-commit-config.yaml
  can/common.h
  can/logger.h
  can/parser.cc
Due: cppcheck

Ford: add alternate steering message address (#1026)
  ford_lincoln_base_pt.dbc
Due: none

chrysler: update DAS messages (#973)
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  chrysler_ram_hd_generated.dbc
  generator/chrysler/_stellantis_common.dbc
  generator/chrysler/_stellantis_common_ram.py
  generator/chrysler/chrysler_pacifica_2017_hybrid.dbc
Due: pylint

CI: enable docker cache pull (#1011)
  .github/workflows/tests.yml
Due: none

pre-commit: autoupdate hooks (#978)
  .pre-commit-config.yaml
Due: none

CanPacker: removing unnecessary string copying (#940)
  can/packer.cc
Due: cppcheck

pre-commit: autoupdate hooks (#1017)
  .pre-commit-config.yaml
Due: none

CI: use pytest (#1053)
  .github/workflows/tests.yml
  requirements.txt
Due: none

Sconscript: enable openpilot compilation for macOS (#1059)
  can/SConscript
Due: none

build message lookup table in DBC (#942)
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck
