Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: 'can/dbc_template.cc'
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4

DBCs: fix duplicate messages (#603)
  luxgen_s5_2015.dbc
  volvo_v40_2017_pt.dbc
Due: none

rename
  can/tests/test_can_parser.py
Due: pylint

slightly more consistent at ~0.57 seconds
  can/tests/test_can_parser.py
Due: pylint

make sure the tests make sense
  can/tests/test_can_parser.py
Due: pylint

update ACC_FAULTED signal
  chrysler_pacifica_2017_hybrid.dbc
Due: none

Revert "update ACC_FAULTED signal"
  chrysler_pacifica_2017_hybrid.dbc
Due: none

clean up
  chrysler_pacifica_2017_hybrid.dbc
Due: none

Chrysler: add ACC faulted signal (#600)
  chrysler_pacifica_2017_hybrid.dbc
Due: none

Subaru: Use SI units for ACC distance signals
  generator/subaru/_subaru_global.dbc
  generator/subaru/_subaru_preglobal_2015.dbc
  generator/subaru/subaru_forester_2017.dbc
  generator/subaru/subaru_global_2017.dbc
  generator/subaru/subaru_outback_2015.dbc
  generator/subaru/subaru_outback_2019.dbc
  subaru_forester_2017_generated.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
  subaru_outback_2015_generated.dbc
  subaru_outback_2019_generated.dbc
Due: none

Add ES_Distance Cruise_Soft_Disable
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

Fix Engine_Stop_Start indent
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

test ms per line
  can/tests/test_can_parser.py
Due: pylint

use ctre
  can/ctre.hpp
  can/dbc.cc
Due: cppcheck

Revert "use ctre"
  can/ctre.hpp
  can/dbc.cc
Due: cppcheck

Toyota UI Display Speed
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

comment fix
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

add clutch the right way
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

add comment to GEAR_PACKET
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

compile regex at import time
  can/dbc.cc
Due: cppcheck

add debug print and lower test time
  can/tests/test_can_parser.py
Due: pylint

add comment
  can/dbc.cc
Due: cppcheck

0.02 ms per line max
  can/tests/test_can_parser.py
Due: pylint

cloudlog support
  can/SConscript
  can/parser.cc
Due: cppcheck

cleanup
  can/SConscript
Due: none

cloudlog support (#608)
  can/SConscript
  can/parser.cc
Due: cppcheck

remove extra new line
  can/parser.cc
Due: cppcheck

better error messages
  can/common_dbc.h
  can/dbc.cc
Due: cppcheck

only include what we need, and make it explicit
  can/dbc.cc
Due: cppcheck

Toyota UI Display Speed (#607)
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

check total time
  can/tests/test_can_parser.py
Due: pylint

no global
  can/common_dbc.h
  can/dbc.cc
Due: cppcheck

always a list
  can/SConscript
Due: none

not a c loop any more
  can/parser_pyx.pyx
Due: none

default to list
  SConstruct
Due: none

use hex
  can/dbc.cc
Due: cppcheck
