Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.15.0
    hooks:
    -   id: cython-lint
    -   id: double-quote-cython-strings
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        args:
        - --quiet
        - --counting=detailed
        - --linelength=240
        - --filter=-legal,-build/include_order,-readability/casting,-whitespace/braces,-whitespace/indent,-whitespace/operators,-build/c++11,-readability/todo,-runtime/explicit,-runtime/int,-whitespace/comments,-readability/braces,-runtime/arrays,-runtime/references
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

clean up
  hyundai_canfd.dbc
Due: none

Hyundai CAN-FD HDA2: specify signals to suppress LFA (#927)
  hyundai_canfd.dbc
Due: none

sync with PR #927
  hyundai_canfd.dbc
Due: none

assert no duplicate checks
  can/common.pxd
  can/parser.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

typo
  can/tests/test_packer_parser.py
Due: pylint

even same freq not allowed
  can/tests/test_packer_parser.py
Due: pylint

same or differernt
  can/tests/test_packer_parser.py
Due: pylint

linter
  can/parser.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

too much whitespace
  can/tests/test_packer_parser.py
Due: pylint

Update pre-commit hook versions
  .pre-commit-config.yaml
Due: none

sync
  generator/hyundai/_hyundai_canfd_common.dbc
  generator/hyundai/hyundai_canfd.dbc
  generator/hyundai/hyundai_palisade_2023.dbc
  hyundai_canfd_generated.dbc
  hyundai_palisade_2023_generated.dbc
Due: none

Subaru: preglobal normalize signals to global (#929)
  generator/subaru/_subaru_preglobal_2015.dbc
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_generated.dbc
  subaru_outback_2019_generated.dbc
Due: none

Parser: disallow duplicate message checks (#930)
  can/common.pxd
  can/parser.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

fix range
  hyundai_canfd.dbc
Due: none

Hyundai CAN-FD HDA2: alternate message to suppress LFA (#923)
  hyundai_canfd.dbc
Due: none

fix static analysis
  can/tests/test_packer_parser.py
Due: pylint

pre-commit: autoupdate hooks (#931)
  .pre-commit-config.yaml
  can/tests/test_packer_parser.py
Due: pylint

sync with upstream
  generator/hyundai/hyundai_canfd.dbc
  hyundai_canfd_generated.dbc
Due: none

new signals
  hyundai_canfd.dbc
Due: none

add comment
  hyundai_canfd.dbc
Due: none

Hyundai CAN FD: alt blinker lamp signals (#932)
  hyundai_canfd.dbc
Due: none

sync with upstream
  generator/hyundai/hyundai_canfd.dbc
Due: none

do not copy msg
  can/packer_pyx.pyx
  can/parser_pyx.pyx
Due: none

pre-commit: autoupdate hooks (#937)
  .pre-commit-config.yaml
Due: none

precommit ensure executable
  .pre-commit-config.yaml
Due: none

Precommit: ensure executable bit is set (#938)
  .pre-commit-config.yaml
Due: none

less keys
  can/parser_pyx.pyx
Due: none

remove string copy
  can/packer.cc
Due: cppcheck

remove ARRAYSIZE
  can/common_dbc.h
Due: cppcheck

use message lookup table in DBC
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck
