Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

rename rav4h to tngah
  generator/toyota/toyota_tnga_k_tss_p_hybrid.dbc
  toyota_tnga_k_tss_p_hybrid_generated.dbc
Due: none

Toyota: remove Lexus GS DBC (#502)
  generator/toyota/lexus_gs300h_2017_pt.dbc
  lexus_gs300h_2017_pt_generated.dbc
Due: none

simpler name
  generator/toyota/toyota_tssp_hybrid.dbc
Due: none

Toyota: unify Lexus NXH, Lexus RXH, HighlanderH, Rav4H into single DBC (#503)
  generator/toyota/lexus_nx300h_2018_pt.dbc
  generator/toyota/lexus_rx_hybrid_2017_pt.dbc
  generator/toyota/toyota_highlander_hybrid_2018_pt.dbc
  generator/toyota/toyota_tssp_hybrid.dbc
  lexus_nx300h_2018_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_tnga_k_tss_p_hybrid_generated.dbc
Due: none

run generator
  toyota_tssp_hybrid_generated.dbc
Due: none

Toyota: remove redundant Avalon DBC
  generator/toyota/toyota_avalon_2017_pt.dbc
  toyota_avalon_2017_pt_generated.dbc
Due: none

Toyota: unify Sienna, Avalon, Highlander Lexus NX, Lexus RX into single DBC (#504)
  generator/toyota/lexus_nx300_2018_pt.dbc
  generator/toyota/lexus_rx_350_2016_pt.dbc
  generator/toyota/toyota_sienna_xle_2018_pt.dbc
  generator/toyota/toyota_tssp_pt.dbc
  lexus_nx300_2018_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
  toyota_tssp_pt_generated.dbc
Due: none

Toyota: move gas pedal definitions into common DBC
  generator/toyota/_toyota_2017.dbc
  generator/toyota/lexus_ct200h_2018_pt.dbc
  generator/toyota/lexus_is_2018_pt.dbc
  generator/toyota/toyota_corolla_2017_pt.dbc
  generator/toyota/toyota_nodsu_hybrid_pt.dbc
  generator/toyota/toyota_nodsu_pt.dbc
  generator/toyota/toyota_prius_2017_pt.dbc
  generator/toyota/toyota_rav4_2017_pt.dbc
  generator/toyota/toyota_tssp_hybrid.dbc
  generator/toyota/toyota_tssp_pt.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_tssp_hybrid_generated.dbc
  toyota_tssp_pt_generated.dbc
Due: none

Toyota: LKAS_HUD expansion (#501)
  generator/toyota/_toyota_2017.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_tssp_hybrid_generated.dbc
  toyota_tssp_pt_generated.dbc
Due: none

Reduce repeated dictionary creations.
  can/parser_pyx.pyx
Due: none

start cleanup
  generator/honda/honda_ridgeline_black_edition_2017_can.dbc
  honda_ridgeline_black_edition_2017_can_generated.dbc
Due: none

Honda: remove redundant Ridgeline DBC (#507)
  generator/honda/honda_ridgeline_black_edition_2017_can.dbc
  honda_ridgeline_black_edition_2017_can_generated.dbc
Due: none

draft
  can/parser_pyx.pyx
Due: none

draft 2
  can/SConscript
  can/common.pxd
  can/common_dbc.h
  can/dbc.py
  can/dbc_template.cc
  can/parser_pyx.pyx
  can/process_dbc.py
Due: pylint, cppcheck

Revert "draft 2"
  can/SConscript
  can/common.pxd
  can/common_dbc.h
  can/dbc.py
  can/dbc_template.cc
  can/parser_pyx.pyx
  can/process_dbc.py
Due: pylint, cppcheck

Revert "draft"
  can/parser_pyx.pyx
Due: none

clean up
  can/parser_pyx.pyx
Due: none

fix and test
  can/parser_pyx.pyx
  can/tests/test_define.py
Due: pylint

clean up
  can/tests/test_packer_parser.py
Due: pylint

fix imports leaving an extra line
  generator/generator.py
Due: pylint

generate!
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  acura_rdx_2020_can_generated.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_hybrid_2019_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
  honda_pilot_touring_2017_can_generated.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  subaru_forester_2017_generated.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
  subaru_outback_2015_generated.dbc
  subaru_outback_2019_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_tssp_hybrid_generated.dbc
  toyota_tssp_pt_generated.dbc
Due: none

use set
  can/dbc.py
  can/process_dbc.py
Due: pylint

forgot
  can/dbc.py
Due: pylint

define cleanup
  can/parser_pyx.pyx
Due: none

small can parser cleanup
  can/parser_pyx.pyx
Due: none

add all attrs except name
  can/parser_pyx.pyx
Due: none

fix test
  can/tests/test_define.py
Due: pylint

flip
  can/parser_pyx.pyx
  can/tests/test_define.py
Due: pylint

add DOOR_LOCKS signal
  generator/toyota/_toyota_2017.dbc
Due: none

run generator
  lexus_ct200h_2018_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_tssp_hybrid_generated.dbc
  toyota_tssp_pt_generated.dbc
Due: none

Toyota: add DOOR_LOCKS signal (#512)
  generator/toyota/_toyota_2017.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_tssp_hybrid_generated.dbc
  toyota_tssp_pt_generated.dbc
Due: none

add comment
  generator/toyota/_toyota_2017.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_tssp_hybrid_generated.dbc
  toyota_tssp_pt_generated.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
