Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --force
  - --quiet
  - -j4

ubuntu 16.04 -> 20.04 (#309)
  .pre-commit-config.yaml
  Dockerfile
  can/common.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

Added Ignition ON, modified steering ratio factor
  bmw_e9x_e8x.dbc
Due: none

Added accelerators and checksum signals in Speed message
  bmw_e9x_e8x.dbc
Due: none

ZSS support for Prius
  generator/toyota/toyota_prius_2017_pt.dbc
Due: none

remove redundant linter checks
  can/tests/linter_python/.pylintrc
  can/tests/linter_python/flake8_opendbc.sh
  can/tests/linter_python/pylint_opendbc.sh
Due: none

remove redundant linter checks
  .github/workflows/tests.yml
  can/tests/linter_python/.pylintrc
  can/tests/linter_python/flake8_opendbc.sh
  can/tests/linter_python/pylint_opendbc.sh
Due: none

this should work
  Dockerfile
Due: none

style
  site_scons/site_tools/cython.py
Due: pylint

this is hacky
  Dockerfile
  can/SConscript
Due: none

migrate to home pc
  .gitignore
  SConstruct
  can/SConscript
  can/packer_pyx.pyx
  can/parser_pyx.pyx
  site_scons/site_tools/cython.py
Due: pylint

no lint
  .pre-commit-config.yaml
Due: none

this works
  SConstruct
  can/SConscript
  can/common_pyx_setup.py
  can/packer_pyx.pyx
  can/parser_pyx.pyx
Due: pylint

why doesn't this work
  Dockerfile
Due: none

link against libdbc wtih abs path
  can/SConscript
Due: none

new env
  can/SConscript
Due: none

Scons cython builder (#316)
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  SConstruct
  can/SConscript
  can/common_pyx_setup.py
  can/packer_pyx.pyx
  can/parser_pyx.pyx
  site_scons/site_tools/cython.py
Due: pylint

accord steer at any speed bit
  generator/honda/_bosch_2018.dbc
  honda_accord_lx15t_2018_can_generated.dbc
  honda_accord_s2t_2018_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_hybrid_2019_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
Due: none

update 2020 bosch dbc
  acura_rdx_2020_can_generated.dbc
  generator/honda/_bosch_2018.dbc
  generator/honda/_bosch_2020.dbc
  honda_accord_lx15t_2018_can_generated.dbc
  honda_accord_s2t_2018_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_hybrid_2019_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
Due: none

fix LKAS12 CF_Lkas_Daw_USM
  hyundai_kia_generic.dbc
Due: none

fix hyundai 366_EMS
  hyundai_kia_generic.dbc
Due: none

hyundai esp12 checksum and counter were flipped
  hyundai_kia_generic.dbc
Due: none

Fixed CM_ (comments) syntax
  generator/generator.py
Due: pylint

Fix syntax and typos in Toyota generated dbc's
  generator/toyota/_comma.dbc
  generator/toyota/_toyota_2017.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

The signals SET_ME_X00 and SET_ME_X00 are overlapping in message STEERING_IPAS_COMMA.
  generator/toyota/_comma.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

Add ZSS signal and run generator
  generator/toyota/_comma.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

add info. "is this a comment?"
  generator/toyota/_comma.dbc
Due: none

run generator
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

forgot ;!
  generator/toyota/_comma.dbc
Due: none

Is this correct?
  generator/toyota/_comma.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

less mean to old sensors
  generator/toyota/_comma.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

Add ZSS signal (#322)
  generator/toyota/_comma.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

fix generator test
  .github/workflows/tests.yml
  generator/test_generator.sh
Due: none

Reverted signal name
  generator/toyota/_comma.dbc
Due: none

generator cleanup
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  generator/generator.py
  generator/test_generator.py
  generator/test_generator.sh
Due: pylint

fix generator test and linter (#323)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  can/tests/test_generator.sh
  generator/generator.py
  generator/test_generator.py
Due: pylint

fix generator test and linter (#323)
  .pre-commit-config.yaml
  can/tests/test_generator.sh
  generator/generator.py
  generator/test_generator.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
