Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

vw_golf_mk4: a bit of progress
  vw_golf_mk4.dbc
Due: none

vw_golf_mk4: a bit of progress (#671)
  vw_golf_mk4.dbc
Due: none

ford: another mystery bit (#697)
  ford_lincoln_base_pt.dbc
Due: none

Ford: fix steering command signal ranges (#683)
  ford_lincoln_base_pt.dbc
Due: none

Toyota: add universal units signal (#695)
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Update honda_civic_ex_2022_can.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
Due: none

hyundai canfd: add a couple brake signals
  hyundai_canfd.dbc
Due: none

fix typo
  hyundai_canfd.dbc
Due: none

prep ford checksum
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
Due: cppcheck

add checksum algorithm for Gear_Shift_by_Wire_FD1
  can/common.cc
Due: cppcheck

can parser: reduce spammy debug messages
  can/parser.cc
Due: cppcheck

GM powertrain AcceleratorPedal2 has ACC signals, and BrakePedalPos disengages ACC
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

Add test for Subaru Brake_Status Signal1 large value
  can/tests/test_packer_parser.py
Due: pylint

run generator
  honda_civic_ex_2022_can_generated.dbc
Due: none

sunnypilot: ESCC - update with new signals from ESCC
  hyundai_kia_generic.dbc
Due: none

sunnypilot: ESCC - update to 0x2AB
  hyundai_kia_generic.dbc
Due: none

commaai: hyundai: fix FCA11 checksum and counter (commaai:openpilot#25027) - pending PR
  hyundai_kia_generic.dbc
Due: none

HKG: ESCC: Enhanced SCC (ESCC) radar interceptor support
  hyundai_kia_generic.dbc
Due: none

sunnypilot: ESCC - fix missing keys
  hyundai_kia_generic.dbc
Due: none

sunnypilot: MADS - HKG CAN-FD non-HDA and HDA2 support
  hyundai_canfd.dbc
Due: none

sunnypilot: ESCC - Add SCC11|ACC_ObjStatus
  hyundai_kia_generic.dbc
Due: none

Add Manumatic/Paddle Shifter signal
  hyundai_kia_generic.dbc
Due: none

Hyundai: Add Manumatic/Paddle Shifter signal (#705)
  hyundai_kia_generic.dbc
Due: none

fix
  can/parser.cc
  can/tests/test.dbc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

Add test for Subaru Brake_Status Signal1 large value (#702)
  can/parser.cc
  can/tests/test.dbc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

new signal for FCA detection IONIQ 5 HDA2
  hyundai_canfd.dbc
Due: none

Cleanup
  hyundai_canfd.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
