Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.15.0
    hooks:
    -   id: cython-lint
    -   id: double-quote-cython-strings
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        args:
        - --quiet
        - --counting=detailed
        - --linelength=240
        - --filter=-legal,-build/include_order,-readability/casting,-whitespace/braces,-whitespace/indent,-whitespace/operators,-build/c++11,-readability/todo,-runtime/explicit,-runtime/int,-whitespace/comments,-readability/braces,-runtime/arrays,-runtime/references
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

pre-commit: autoupdate hooks (#964)
  .pre-commit-config.yaml
Due: none

Update vw_mqb_2010.dbc remove bap for testing
  vw_mqb_2010.dbc
Due: none

Update vw_mqb_2010.dbc insert one bap message again for testing
  vw_mqb_2010.dbc
Due: none

Update vw_mqb_2010.dbc: insert all bap msg again with fix
  vw_mqb_2010.dbc
Due: none

Update vw_mqb_2010.dbc fix bap and use multiplexing because opendbc does not support multiple same ids
  vw_mqb_2010.dbc
Due: none

Update vw_mqb_2010.dbc: remove msg structures, i dont understand opendbc multiplexing, use coding for further usage
  vw_mqb_2010.dbc
Due: none

Update common.pxd
  can/common.pxd
Due: none

CANParser: capture C++ DBC parser exceptions (#965)
  can/common.pxd
Due: none

fixes
  generator/chrysler/_stellantis_common_ram.py
Due: pylint

draft way to make it work
  generator/chrysler/_stellantis_common_ram.py
Due: pylint

clean up
  chrysler_ram_hd_generated.dbc
  generator/chrysler/_stellantis_common_ram.py
Due: pylint

Update vw_mqb_2010.dbc
  vw_mqb_2010.dbc
Due: none

Update pre-commit hook versions
  .pre-commit-config.yaml
Due: none

pre-commit: autoupdate hooks (#967)
  .pre-commit-config.yaml
Due: none

Update gm_global_a_lowspeed.dbc to include BOLT EUV Blindspot indicator (#962)
  gm_global_a_lowspeed.dbc
Due: none

clip counter_fail
  can/common.h
  can/parser.cc
Due: cppcheck

pre-commit: autoupdate hooks (#970)
  .pre-commit-config.yaml
Due: none

rename confusing sec variables
  can/common.h
  can/parser.cc
Due: cppcheck

we want the latest right?
  can/parser.cc
Due: cppcheck

helpful comments for confusing code
  can/parser.cc
Due: cppcheck

think this all_vals bug is fixed
  can/parser.cc
Due: cppcheck

don't need tmp vector
  can/parser.cc
Due: cppcheck

better comment
  can/parser.cc
Due: cppcheck

actually that wasn't fixed yet
  can/parser.cc
Due: cppcheck

replace sec with nanos
  can/common.h
  can/parser.cc
Due: cppcheck

CANParser: rename timestamp variables (#972)
  can/common.h
  can/parser.cc
Due: cppcheck

stash
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

fixed VW mismatched where CHECKSUM is before COUNTER in DBC, causing counter to not get updated properly
  can/parser.cc
Due: cppcheck

chrysler: update DAS messages
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  chrysler_ram_hd_generated.dbc
  generator/chrysler/_stellantis_common.dbc
  generator/chrysler/_stellantis_common_ram.py
Due: pylint

eliminate duplicate message
  chrysler_pacifica_2017_hybrid_generated.dbc
  generator/chrysler/chrysler_pacifica_2017_hybrid.dbc
Due: none
