Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        args:
        - --quiet
        - --counting=detailed
        - --linelength=240
        - --filter=-legal,-build/include_order,-readability/casting,-whitespace/braces,-whitespace/indent,-whitespace/operators,-build/c++11,-readability/todo,-runtime/explicit,-runtime/int,-whitespace/comments,-readability/braces,-runtime/arrays,-runtime/references
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

VW PQ: Corrected scaling/offsets in ACC_System
  vw_golf_mk4.dbc
Due: none

add values
  vw_golf_mk4.dbc
Due: none

VW PQ: Misc corrections in ACC_GRA_Anzeige
  vw_golf_mk4.dbc
Due: none

VW PQ: Corrected scaling/offsets in ACC_System (#791)
  vw_golf_mk4.dbc
Due: none

VW PQ: Corrected scaling/offsets in Motor_Bremse (#790)
  vw_golf_mk4.dbc
Due: none

VW PQ: Misc corrections in ACC_GRA_Anzeige (#792)
  vw_golf_mk4.dbc
Due: none

VW MLB: Audi A4/S4
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/parser_pyx.pyx
Due: cppcheck

revert
  can/parser_pyx.pyx
Due: none

add DBC
  vw_mlb.dbc
Due: none

add brake pressed sigs
  generator/toyota/_toyota_2017.dbc
  generator/toyota/toyota_new_mc_pt.dbc
Due: none

generate
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Toyota: add brake pressed bits (#794)
  generator/toyota/_toyota_2017.dbc
  generator/toyota/toyota_new_mc_pt.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

reduce the const of copying signal values in CANParser::query_latest
  can/parser.cc
Due: cppcheck

pass by reference
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

use for range loop
  can/parser.cc
Due: cppcheck

update_strings
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

use assign
  can/parser_pyx.pyx
Due: none

track all signals
  can/parser.cc
Due: cppcheck

use iterator & pointer to avoid copy SignalValue from vector
  can/parser_pyx.pyx
Due: none

pass string by referer
  can/common.pxd
Due: none

use emplace_back to reduce the cost of copying values
  can/parser.cc
Due: cppcheck

use iterator in cython to avoid copies
  can/parser_pyx.pyx
Due: none

fix can data size issues
  can/parser.cc
Due: cppcheck

CANParser: pass string by referer (#796)
  can/common.pxd
Due: none

GM: Add single pedal mode signals for Bolt EV/EUV (#789)
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

put check for duplicate message name behind flag
  can/common_dbc.h
  can/dbc.cc
Due: cppcheck

add benchmarks
  can/tests/benchmark.py
Due: pylint

cleanup
  can/tests/benchmark.py
  can/tests/test_dbc_exceptions.py
  can/tests/test_define.py
Due: pylint

unittest
  can/tests/benchmark.py
Due: pylint

thresholds
  can/tests/benchmark.py
  can/tests/test_parser.py
Due: pylint

improve cython performance
  can/parser_pyx.pyx
Due: none

dbc.cc: put check for duplicate message name behind flag (#800)
  can/common_dbc.h
  can/dbc.cc
Due: cppcheck

Update SConscript
  can/SConscript
Due: none
