Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --force
  - --quiet
  - -j4

add _community_features.dbc and run generator
  generator/toyota/_community_features.dbc
  generator/toyota/toyota_prius_2017_pt.dbc
  toyota_prius_2017_pt_generated.dbc
Due: none

Fix 0x460 to decode inlet and outlet coolant temps correctly
  gm_global_a_high_voltage_management.dbc
Due: none

modified build script and sources for cross-compilation
  can/SConscript
  can/common_pyx_setup.py
Due: pylint

Ford: Add new base DBC. (#287)
  ford_lincoln_base_pt.dbc
Due: none

fix mac build
  can/common_pyx_setup.py
Due: pylint

Added exceptions to packer and parser
  can/packer_pyx.pyx
  can/parser.py
  can/parser_pyx.pyx
Due: pylint

added exception tests
  can/tests/test_dbc_exceptions.py
Due: pylint

improve style
  can/tests/test_dbc_exceptions.py
Due: pylint

linter is annoying
  can/parser.py
  can/tests/test_dbc_exceptions.py
Due: pylint

static analysis fix
  can/parser.py
  can/tests/test_dbc_exceptions.py
Due: pylint

static analysis fix2
  can/tests/test_dbc_exceptions.py
Due: pylint

static analysis fix3
  can/tests/test_dbc_exceptions.py
Due: pylint

clean up the code
  can/tests/test_dbc_exceptions.py
Due: pylint

update exceptions
  can/common.pxd
  can/packer_pyx.pyx
  can/parser_pyx.pyx
  can/tests/test_dbc_exceptions.py
Due: pylint

style1
  can/common.pxd
  can/parser_pyx.pyx
Due: none

style2
  can/tests/test_dbc_exceptions.py
Due: pylint

Fix 222 (#296)
  can/packer_pyx.pyx
  can/parser.py
  can/parser_pyx.pyx
  can/tests/test_dbc_exceptions.py
Due: pylint

Sorted in numerical order
  volvo_v40_2017_pt.dbc
  volvo_v60_2015_pt.dbc
Due: none

fixed script for native compilation
  can/common_pyx_setup.py
Due: pylint

small changes needed for docker image creation
  SConstruct
Due: none

fixed static analisys errors
  can/common_pyx_setup.py
Due: pylint

Tune 17 Corolla safetyParam
  generator/toyota/toyota_corolla_2017_pt.dbc
  toyota_corolla_2017_pt_generated.dbc
Due: none

Tune 17 Corolla safetyParam (#298)
  generator/toyota/toyota_corolla_2017_pt.dbc
  toyota_corolla_2017_pt_generated.dbc
Due: none

OpenDBC updates
  nissan_leaf_2018.dbc
Due: none

added more messages from available online docs
  nissan_leaf_2018.dbc
Due: none

updated more from available docs
  nissan_leaf_2018.dbc
Due: none

found more signals
  nissan_leaf_2018.dbc
Due: none

more bs
  nissan_leaf_2018.dbc
Due: none

Fix all typos in opendbc
  bmw_e9x_e8x.dbc
  cadillac_ct6_object.dbc
  can/packer_pyx.pyx
  can/parser.cc
  can/parser_pyx.pyx
  can/process_dbc.py
  can/tests/linter_python/.pylintrc
  chrysler_pacifica_2017_hybrid.dbc
  generator/toyota/_toyota_2017.dbc
  gm_global_a_object.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_iQ_2009_can.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2010_pt.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: pylint, cppcheck

more data added from available Leaf data
  nissan_leaf_2018.dbc
Due: none

Fix all typos in opendbc (#299)
  bmw_e9x_e8x.dbc
  cadillac_ct6_object.dbc
  can/packer_pyx.pyx
  can/parser.cc
  can/parser_pyx.pyx
  can/process_dbc.py
  can/tests/linter_python/.pylintrc
  chrysler_pacifica_2017_hybrid.dbc
  generator/toyota/_toyota_2017.dbc
  gm_global_a_object.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_iQ_2009_can.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2010_pt.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: pylint, cppcheck

Path conditions:
  pylint: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
