Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

deprecate busTime
  can/packer_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint

forgot here
  can/parser.cc
Due: cppcheck

missing these too
  can/tests/test_packer_parser.py
Due: pylint

deprecate busTime (#1065)
  can/packer_pyx.pyx
  can/parser.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

revert unrelated changes
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

truly no cereal!
  Dockerfile
Due: none

thought there'd be more
  can/parser.cc
Due: cppcheck

parser: declutter nanos usage (#1067)
  can/parser.cc
Due: cppcheck

same capitalization
  can/common.h
  can/parser.cc
Due: cppcheck

revert more
  can/parser.cc
Due: cppcheck

parser: clean up unused import & variable
  can/common.pxd
  can/parser_pyx.pyx
Due: none

CANParser: remove dependence on cereal (#934)
  Dockerfile
  SConstruct
  can/SConscript
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_checksums.py
  can/tests/test_packer_parser.py
  can/tests/test_parser_performance.py
Due: pylint, cppcheck

Update vw_meb.dbc
  vw_meb.dbc
Due: none

cleanup
  can/parser_pyx.pyx
Due: none

new structure
  .github/workflows/tests.yml
  Dockerfile
Due: none

fix that
  Dockerfile
Due: none

new docker image structure (#1070)
  Dockerfile
Due: none

new docker image structure (#1070)
  .github/workflows/tests.yml
  Dockerfile
Due: none

get CI working / similar to msgq
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
Due: none

run pre-commit outside docker
  pyproject.toml
Due: none

fix path in print
  opendbc/dbc/generator/test_generator.py
Due: pylint

move my dbc
  opendbc/dbc/vw_meb.dbc
Due: none

define project
  pyproject.toml
  setup.py
Due: pylint

spacing
  pyproject.toml
Due: none

cleanup
  pyproject.toml
  setup.py
Due: pylint

define project (#1073)
  pyproject.toml
Due: none

publish
  .github/workflows/release.yml
Due: none

fix ruff warnings
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
