Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

cleanup
  hyundai_canfd.dbc
Due: none

cleanup2
  hyundai_canfd.dbc
Due: none

Hyundai: Add FCA signal for CAN-FD (#706)
  hyundai_canfd.dbc
Due: none

Toyota: radar dsu tss-p radar support, aka nodsu
  toyota_radar_dsu_tssp.dbc
Due: none

sunnypilot: realfast init
  chrysler_ram_dt_generated.dbc
  chrysler_ram_hd_generated.dbc
Due: none

hyundai: fix canfd steering angle rate signal
  hyundai_canfd.dbc
Due: none

make consistent with non-canfd definition
  hyundai_canfd.dbc
Due: none

hyundai: fix CAN-FD steering angle rate signal (#708)
  hyundai_canfd.dbc
Due: none

add standstill
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

Honda Bosch Radarless: add standstill bit (#699)
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

setup generator for hyundai radar dbc
  generator/hyundai/.gitignore
  generator/hyundai/hyundai_kia_mando_front_radar.py
  hyundai_kia_mando_front_radar.dbc
  hyundai_kia_mando_front_radar_gen.py
  hyundai_kia_mando_front_radar_generated.dbc
Due: pylint

fix indentation
  generator/hyundai/hyundai_kia_mando_front_radar.py
  hyundai_kia_mando_front_radar_generated.dbc
Due: pylint

setup generator for hyundai radar dbc (#710)
  generator/hyundai/.gitignore
  generator/hyundai/hyundai_kia_mando_front_radar.py
  hyundai_kia_mando_front_radar_gen.py
  hyundai_kia_mando_front_radar_generated.dbc
Due: pylint

CAN-FD messages can be 64 bytes
  can/parser.cc
Due: cppcheck

CAN-FD messages can be 64 bytes (#711)
  can/parser.cc
Due: cppcheck

add/update ACC messages
  vw_mqb_2010.dbc
Due: none

hyundai_kia_generic: add values for ACCEnable signal
  hyundai_kia_generic.dbc
Due: none

hyundai: fix FCA11 checksum and counter
  hyundai_kia_generic.dbc
Due: none

hyundai: fix FCA11 checksum and counter (#656)
  hyundai_kia_generic.dbc
Due: none

Revert "Ford: fix steering command signal ranges (#683)"
  ford_lincoln_base_pt.dbc
Due: none

Revert "commaai: hyundai: fix FCA11 checksum and counter (commaai:openpilot#25027) - pending PR"
  hyundai_kia_generic.dbc
Due: none

corner radar dbc based on palisade
  generator/hyundai/hyundai_kia_mando_corner_radar.py
  hyundai_kia_mando_corner_radar.dbc
Due: pylint

0x100/0x200 scale/offset
  generator/hyundai/hyundai_kia_mando_corner_radar.py
  hyundai_kia_mando_corner_radar.dbc
Due: pylint

update DBC
  generator/hyundai/hyundai_kia_mando_corner_radar.py
  hyundai_kia_mando_corner_radar.dbc
Due: pylint

generate dbc properly
  generator/hyundai/.gitignore
  hyundai_kia_mando_corner_radar_generated.dbc
Due: none

Add comment about variable length GM message, fix comment syntax
  generator/gm/gm_global_a_powertrain.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
  gm_global_a_powertrain_generated.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

EV6 radar messages
  hyundai_canfd.dbc
Due: none

Revert "EV6 radar messages"
  hyundai_canfd.dbc
Due: none
