Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

more complete comment
  generator/toyota/toyota_nodsu_pt.dbc
Due: none

gen
  toyota_nodsu_pt_generated.dbc
Due: none

but
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

add val for cabana
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

Toyota: add comment for LTA signal (#876)
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

add comment
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

Toyota: add LTA comment for SETME_X1 (#885)
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

update comment, slightly more accurate
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

EPS still accepts it though
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

Toyota: update LTA comment for SETME_X1 (#887)
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

change addr for ioniq 6
  hyundai_canfd.dbc
Due: none

add new msg
  hyundai_canfd.dbc
Due: none

a test for this
  can/tests/__init__.py
  can/tests/test_dbc_parser.py
  can/tests/test_define.py
  hyundai_canfd.dbc
Due: pylint

add to test_dbc_exceptions
  can/tests/__init__.py
  can/tests/test.dbc
  can/tests/test_dbc_exceptions.py
  can/tests/test_packer_parser.py
Due: pylint

small clean up
  can/tests/__init__.py
  can/tests/test_dbc_exceptions.py
  can/tests/test_dbc_parser.py
  can/tests/test_packer_parser.py
Due: pylint

tests: global constants (#889)
  can/tests/__init__.py
  can/tests/test_dbc_exceptions.py
  can/tests/test_dbc_parser.py
  can/tests/test_packer_parser.py
Due: pylint

cmt
  can/tests/test_dbc_exceptions.py
  can/tests/test_define.py
Due: pylint

fix
  hyundai_canfd.dbc
Due: none

CANDefine: test all DBCs (#888)
  can/tests/test.dbc
  can/tests/test_dbc_exceptions.py
  can/tests/test_define.py
Due: pylint

fixes
  hyundai_canfd.dbc
Due: none

HYUNDAI : update speed camera signal
  hyundai_kia_generic.dbc
Due: none

HYUNDAI: update speed camera signal (#890)
  hyundai_kia_generic.dbc
Due: none

refactor to avoid undefined signals
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

throw runtime_error
  can/packer.cc
Due: cppcheck

throw python RuntimeError
  can/packer_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint

set default vals
  can/packer.cc
Due: cppcheck

pass values by map
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/packer.cc
  can/packer_pyx.pyx
Due: cppcheck

remove signal_lookup
  can/common.h
  can/packer.cc
  can/packer_pyx.pyx
Due: cppcheck

use unordered_map
  can/common.h
Due: cppcheck

pass name by reference
  can/packer.cc
Due: cppcheck

remove unused import
  can/packer_pyx.pyx
Due: none

cleanup cython code
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
Due: cppcheck

cleanup
  can/packer.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
