Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

Update common.cc add magic bytes for meb acc 02
  can/common.cc
Due: cppcheck

Sconscript: enable openpilot compilation for macOS (#1059)
  can/SConscript
Due: none

Update common.cc
  can/common.cc
Due: cppcheck

Update common.cc try new magic bytes
  can/common.cc
Due: cppcheck

Update common.h add meb checksum
  can/common.h
Due: cppcheck

Update common.pxd add meb checksum
  can/common.pxd
Due: none

Update common_dbc.h add meb checksum
  can/common_dbc.h
Due: cppcheck

Update dbc.cc change meb dbc to meb checksum
  can/dbc.cc
Due: cppcheck

Update vw_meb.dbc meb_acc_04 could be tsk, use values of mqb tsk, seems plausible at the moment
  vw_meb.dbc
Due: none

Haval is already in 3rd generationgit add gwm_haval_h6_mk3.dbc
  gwm_haval_h6_mk3.dbc
Due: none

remove the old one
  gwm_haval_h6_mk1.dbc
Due: none

Revert "apply pr 998"
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  acura_rdx_2020_can_generated.dbc
  generator/honda/_bosch_2018.dbc
  generator/honda/_bosch_adas_2018.dbc
  generator/honda/_nidec_common.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_ex_2022_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
  honda_pilot_2023_can_generated.dbc
Due: none

Update vw_meb.dbc
  vw_meb.dbc
Due: none

add brake from corolla to made tests
  gwm_haval_h6_mk3.dbc
Due: none

update gearbox name
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

Update vw_meb.dbc first part of meb acc message is exactly acc_07
  vw_meb.dbc
Due: none

Convert tests to pytests
  can/tests/test_checksums.py
  can/tests/test_dbc_exceptions.py
  can/tests/test_dbc_parser.py
  can/tests/test_define.py
  can/tests/test_packer_parser.py
  can/tests/test_parser_performance.py
Due: pylint

cleanup
  can/tests/test_checksums.py
  can/tests/test_dbc_exceptions.py
  can/tests/test_dbc_parser.py
  can/tests/test_define.py
  can/tests/test_packer_parser.py
  can/tests/test_parser_performance.py
Due: pylint

args
  .github/workflows/tests.yml
  requirements.txt
Due: none

clean
  .github/workflows/tests.yml
  can/tests/test_define.py
  can/tests/test_packer_parser.py
Due: pylint

linter
  can/tests/test_define.py
Due: pylint

Convert tests to pytests (#1060)
  can/tests/test_checksums.py
  can/tests/test_dbc_exceptions.py
  can/tests/test_dbc_parser.py
  can/tests/test_define.py
  can/tests/test_packer_parser.py
  can/tests/test_parser_performance.py
  requirements.txt
Due: pylint

Convert tests to pytests (#1060)
  .github/workflows/tests.yml
  can/tests/test_checksums.py
  can/tests/test_dbc_exceptions.py
  can/tests/test_dbc_parser.py
  can/tests/test_define.py
  can/tests/test_packer_parser.py
  can/tests/test_parser_performance.py
  requirements.txt
Due: pylint

ACM_lkaHbaCmd filled missing signals
  rivian_can.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
