Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

update range
  generator/toyota/_toyota_2017.dbc
Due: none

run generator
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

order
  generator/toyota/_toyota_2017.dbc
Due: none

gen
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

rename
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Toyota: add initializing signal for steer torque message (#566)
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

expose seen logmonotime
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

Update Jinja2 to fix markupsafe error
  requirements.txt
Due: none

fixes
  can/common.pxd
  can/parser_pyx.pyx
Due: none

Documented TSS2 LTA steering mode signals
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

Update Jinja2 to fix markupsafe error (#570)
  requirements.txt
Due: none

BMW updates (#572)
  bmw_e9x_e8x.dbc
Due: none

remove duplicate implementation
  can/dbc.py
  can/packer.cc
  can/tests/test_dbc.py
Due: pylint, cppcheck

Cleanup dead code in CAN parser + packer
  can/packer.cc
  can/packer_pyx.pyx
Due: cppcheck

little more
  can/SConscript
  can/common.h
  can/common.pxd
  can/dbc.py
  can/parser.cc
Due: pylint, cppcheck

Cleanup dead code in CAN parser + packer (#573)
  can/SConscript
  can/common.h
  can/common.pxd
  can/dbc.py
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/tests/test_dbc.py
Due: pylint, cppcheck

Update generator/toyota/toyota_nodsu_pt.dbc
  generator/toyota/toyota_nodsu_pt.dbc
Due: none

Toyota: comments for LTA steering signals (#571)
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

run generator
  toyota_nodsu_pt_generated.dbc
Due: none

can fd support in packer + parser
  can/SConscript
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.py
  can/dbc_template.cc
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/process_dbc.py
  can/tests/test_packer_parser.py
  test.dbc
Due: pylint, cppcheck

don't need these anymore
  can/common.pxd
  can/common_dbc.h
  can/dbc_template.cc
Due: cppcheck

fix pedal crc
  can/common.cc
  can/parser.cc
Due: cppcheck

fix dynamic parsing
  can/packer.cc
  can/parser.cc
Due: cppcheck

cleanup
  can/packer.cc
  can/parser.cc
Due: cppcheck

packer test
  can/tests/test_packer_parser.py
Due: pylint

CAN FD support in packer + parser (#568)
  can/SConscript
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.py
  can/dbc_template.cc
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/process_dbc.py
  can/tests/test_packer_parser.py
  test.dbc
Due: pylint, cppcheck

hyundai: fix TCS13 signals
  hyundai_kia_generic.dbc
Due: none

add new messages from PR #368
  tesla_can.dbc
Due: none

Cleaned up Tesla PR #368 (#577)
  tesla_can.dbc
Due: none

put back parser::lookup_message
  can/packer.cc
Due: cppcheck

Put back parser::lookup_message (#578)
  can/packer.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
