Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

remove extra semicolon
  vw_golf_mk4.dbc
Due: none

fixes
  chrysler_pacifica_2017_hybrid.dbc
Due: none

sort
  chrysler_pacifica_2017_hybrid.dbc
Due: none

this is EPS_3 in ram port
  chrysler_pacifica_2017_hybrid.dbc
Due: none

some more
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  generator/chrysler/_stellantis_common.dbc
  generator/chrysler/chrysler_pacifica_2017_hybrid.dbc
  generator/chrysler/chrysler_ram_dt.dbc
  generator/chrysler/generate_ram.py
Due: pylint

fix counter again; minimize diff
  can/dbc.cc
Due: cppcheck

additional door-open signals
  vw_golf_mk4.dbc
Due: none

add trunk lid state
  vw_golf_mk4.dbc
Due: none

update LDW_Status message and signals
  vw_golf_mk4.dbc
Due: none

typo
  vw_golf_mk4.dbc
Due: none

vw_golf_mk4: empty lines for extra readability
  vw_golf_mk4.dbc
Due: none

vw_golf_mk4: empty lines for extra readability (#657)
  vw_golf_mk4.dbc
Due: none

rename
  generator/chrysler/_stellantis_common_ram.py
Due: pylint

old bsm definition
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  generator/chrysler/_stellantis_common.dbc
  generator/chrysler/chrysler_ram_dt.dbc
Due: none

Ram 1500 (#640)
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  generator/chrysler/.gitignore
  generator/chrysler/_stellantis_common.dbc
  generator/chrysler/_stellantis_common_ram.py
  generator/chrysler/chrysler_pacifica_2017_hybrid.dbc
  generator/chrysler/chrysler_ram_dt.dbc
  generator/generator.py
Due: pylint

packer/parser: generic counter handling
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
Due: cppcheck

pedal isn't special
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/parser.cc
Due: cppcheck

chrysler: add ahb bit
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  generator/chrysler/_stellantis_common.dbc
Due: none

chrysler: common DAS_4 definition
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  generator/chrysler/_stellantis_common.dbc
  generator/chrysler/_stellantis_common_ram.py
  generator/chrysler/chrysler_pacifica_2017_hybrid.dbc
  generator/chrysler/chrysler_ram_dt.dbc
Due: pylint

nissan-xterra-2011: let's start somewhere
  nissan_xterra_2011.dbc
Due: none

BMW: RPM correction and minor progress
  bmw_e9x_e8x.dbc
Due: none

BMW: progress
  bmw_e9x_e8x.dbc
Due: none

ev6: add CAM_0x2a4
  kia_ev6.dbc
Due: none

ev6: add all camera messages
  kia_ev6.dbc
Due: none

bump pycapnp to 1.1.0 and add cmake to docker to fix build on arm
  Dockerfile
  requirements.txt
Due: none

packer/parser: generic counter handling (#659)
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
Due: cppcheck

make XOR checksum generic
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
Due: cppcheck

ev6: update button message
  can/dbc.cc
  kia_ev6.dbc
Due: cppcheck

Honda Civic 2022: add FCW bits (#651)
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
