Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.15.0
    hooks:
    -   id: cython-lint
    -   id: double-quote-cython-strings
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        args:
        - --quiet
        - --counting=detailed
        - --linelength=240
        - --filter=-legal,-build/include_order,-readability/casting,-whitespace/braces,-whitespace/indent,-whitespace/operators,-build/c++11,-readability/todo,-runtime/explicit,-runtime/int,-whitespace/comments,-readability/braces,-runtime/arrays,-runtime/references
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

fix ruff warnings
  pyproject.toml
Due: none

Move DI_speed to correct bus and update signals within
  opendbc/dbc/tesla_model3_party.dbc
  opendbc/dbc/tesla_model3_vehicle.dbc
Due: none

refactor update
  opendbc/can/common.h
  opendbc/can/common.pxd
  opendbc/can/common_dbc.h
  opendbc/can/parser.cc
  opendbc/can/parser_pyx.pyx
  opendbc/can/tests/test_packer_parser.py
Due: pylint, cppcheck

Toyota: add signals
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
Due: none

run generator
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Due: none

better name
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Due: none

engine running signal
  opendbc/dbc/generator/toyota/_toyota_2017.dbc
  opendbc/dbc/toyota_new_mc_pt_generated.dbc
  opendbc/dbc/toyota_nodsu_pt_generated.dbc
  opendbc/dbc/toyota_tnga_k_pt_generated.dbc
Due: none

not mutable list
  opendbc/can/packer_pyx.pyx
  opendbc/can/tests/test_packer_parser.py
Due: pylint

CANPacker: msg type is tuple (#1077)
  opendbc/can/packer_pyx.pyx
  opendbc/can/tests/test_packer_parser.py
Due: pylint

change tune and fix user steer torque
  opendbc/car/carbage/carcontroller.py
  opendbc/car/carbage/carstate.py
  opendbc/car/torque_data/params.toml
Due: pylint

typo
  opendbc/car/carbage/carstate.py
Due: pylint

pytest defaults
  pyproject.toml
Due: none

move some stuff to pyproject
  .pre-commit-config.yaml
  pyproject.toml
Due: none

bump codespell
  .pre-commit-config.yaml
Due: none

more like openpilot
  .pre-commit-config.yaml
  opendbc/can/tests/test_checksums.py
  opendbc/dbc/generator/generator.py
  pyproject.toml
Due: pylint

Bump pre-commit hooks, more coverage (similar to openpilot) (#1078)
  .pre-commit-config.yaml
  opendbc/can/tests/test_checksums.py
  opendbc/dbc/generator/generator.py
  pyproject.toml
Due: pylint

move some car tests
  opendbc/car/tests/test_can_fingerprint.py
  opendbc/car/tests/test_docs.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/tests/test_platform_configs.py
Due: pylint

fix actions?
  requirements.txt
Due: none

fix car tests
  .gitignore
  opendbc/car/car_helpers.py
  opendbc/car/gm/interface.py
  opendbc/car/hyundai/interface.py
  opendbc/car/interfaces.py
  opendbc/car/tests/test_can_fingerprint.py
  opendbc/car/tests/test_docs.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/tests/test_platform_configs.py
Due: pylint

add panda ignore to pytest
  pyproject.toml
Due: none

need these ignores from openpilot
  pyproject.toml
Due: none

fix tests for outside pip install (openpilot/local)
  opendbc/car/__init__.py
  opendbc/car/chrysler/values.py
  opendbc/car/ecu_addrs.py
  opendbc/car/ford/values.py
  opendbc/car/fw_query_definitions.py
  opendbc/car/fw_versions.py
  opendbc/car/honda/values.py
  opendbc/car/hyundai/values.py
  opendbc/car/isotp_parallel_query.py
  opendbc/car/nissan/values.py
  opendbc/car/subaru/values.py
  opendbc/car/toyota/interface.py
  opendbc/car/vin.py
  opendbc/car/volkswagen/values.py
Due: pylint

speeeeed
  .github/workflows/tests.yml
Due: none

version
  .github/workflows/tests.yml
Due: none

disable
  .github/workflows/tests.yml
Due: none

cppcheck
  .github/workflows/tests.yml
Due: none

pip install
  .github/workflows/tests.yml
Due: none

no update?
  .github/workflows/tests.yml
Due: none

timeout
  .github/workflows/tests.yml
Due: none

one minute ci (#1080)
  .github/workflows/tests.yml
Due: none

cleanup dependencies
  .gitignore
  Dockerfile
  pyproject.toml
  requirements.txt
Due: none

all
  Dockerfile
Due: none

install
  Dockerfile
Due: none

less
  Dockerfile
  SConstruct
  opendbc/can/SConscript
Due: none
