Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

make static (only calculate path once)
  can/dbc.cc
Due: cppcheck

seems to be more consistent now (30-38 ms)
  can/tests/test_can_parser.py
Due: pylint

Dynamically parse DBCs (#602)
  SConstruct
  can/SConscript
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/dbc.py
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/parser_pyx.pyx
  can/process_dbc.py
  can/tests/test_can_parser.py
Due: pylint, cppcheck

rename GAS_COMMAND, GAS_SENSOR
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  generator/gm/_comma.dbc
  generator/honda/_comma.dbc
  generator/toyota/_comma.dbc
  gm_global_a_powertrain_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

change to prefix
  can/dbc.cc
Due: cppcheck

Remove dbc_out
  can/dbc_out/.gitignore
  can/dbc_out/.gitkeep
Due: none

parse all signals per message
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

dbc regex, do not escape underscore
  can/dbc.cc
Due: cppcheck

dbc regex, do not escape underscore (#611)
  can/dbc.cc
Due: cppcheck

run generator
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  generator/gm/_comma.dbc
  generator/honda/_comma.dbc
  generator/toyota/_comma.dbc
  gm_global_a_powertrain_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

rename
  can/dbc.cc
Due: cppcheck

draft
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  can/dbc.cc
  generator/gm/_comma.dbc
  generator/honda/_comma.dbc
  generator/toyota/_comma.dbc
  gm_global_a_powertrain_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: cppcheck

remove dbc_template
  .pre-commit-config.yaml
  can/dbc_template.cc
Due: none

Remove dbc_template.cc (#612)
  .pre-commit-config.yaml
  can/dbc_template.cc
Due: none

add checksum state for comma body dbc
  can/dbc.cc
Due: cppcheck

ohh these are per byte, nice
  can/dbc.cc
Due: cppcheck

comma body: add checksum state (#613)
  can/dbc.cc
Due: cppcheck

add line number to errors
  can/dbc.cc
Due: cppcheck

spacing for backslashes
  can/dbc.cc
Due: cppcheck

remove address
  can/dbc.cc
Due: cppcheck

don't see why this isn't fine
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  can/dbc.cc
  generator/gm/_comma.dbc
  generator/honda/_comma.dbc
  generator/toyota/_comma.dbc
  gm_global_a_powertrain_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: cppcheck

add exception for
  can/dbc.cc
Due: cppcheck

there's another message with this address
  can/dbc.cc
Due: cppcheck

fix
  can/dbc.cc
Due: cppcheck

rename
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

move LKAS_HUD out of _honda_common
  generator/honda/_bosch_2022.dbc
  generator/honda/_honda_common_2018.dbc
  generator/honda/_nidec_2017.dbc
  generator/honda/acura_ilx_2016_can.dbc
  generator/honda/acura_rdx_2018_can.dbc
  generator/honda/acura_rdx_2020_can.dbc
  generator/honda/honda_accord_2018_can.dbc
  generator/honda/honda_civic_hatchback_ex_2017_can.dbc
  generator/honda/honda_civic_touring_2016_can.dbc
  generator/honda/honda_clarity_hybrid_2018_can.dbc
  generator/honda/honda_crv_ex_2017_can.dbc
  generator/honda/honda_crv_executive_2016_can.dbc
  generator/honda/honda_crv_touring_2016_can.dbc
  generator/honda/honda_fit_ex_2018_can.dbc
  generator/honda/honda_fit_hybrid_2018_can.dbc
  generator/honda/honda_insight_ex_2019_can.dbc
  generator/honda/honda_odyssey_exl_2018.dbc
  generator/honda/honda_odyssey_extreme_edition_2018_china_can.dbc
Due: none

rename honda to nidec
  generator/honda/_nidec_2017.dbc
  generator/honda/acura_ilx_2016_can.dbc
  generator/honda/acura_rdx_2018_can.dbc
  generator/honda/honda_civic_touring_2016_can.dbc
  generator/honda/honda_crv_executive_2016_can.dbc
  generator/honda/honda_crv_touring_2016_can.dbc
  generator/honda/honda_fit_ex_2018_can.dbc
  generator/honda/honda_odyssey_exl_2018.dbc
  generator/honda/honda_odyssey_extreme_edition_2018_china_can.dbc
Due: none

generate
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

Honda: rename _honda_2017 to _nidec_2017 (#617)
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  generator/honda/_nidec_2017.dbc
  generator/honda/acura_ilx_2016_can.dbc
  generator/honda/acura_rdx_2018_can.dbc
  generator/honda/honda_civic_touring_2016_can.dbc
  generator/honda/honda_crv_executive_2016_can.dbc
  generator/honda/honda_crv_touring_2016_can.dbc
  generator/honda/honda_fit_ex_2018_can.dbc
  generator/honda/honda_odyssey_exl_2018.dbc
  generator/honda/honda_odyssey_extreme_edition_2018_china_can.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

move into honda_civic_ex_2022
  generator/honda/honda_civic_ex_2022_can.dbc
Due: none

need to also import common
  generator/honda/acura_ilx_2016_can.dbc
  generator/honda/acura_rdx_2018_can.dbc
  generator/honda/acura_rdx_2020_can.dbc
  generator/honda/honda_accord_2018_can.dbc
  generator/honda/honda_civic_hatchback_ex_2017_can.dbc
  generator/honda/honda_civic_touring_2016_can.dbc
  generator/honda/honda_clarity_hybrid_2018_can.dbc
  generator/honda/honda_crv_ex_2017_can.dbc
  generator/honda/honda_crv_executive_2016_can.dbc
  generator/honda/honda_crv_touring_2016_can.dbc
  generator/honda/honda_fit_ex_2018_can.dbc
  generator/honda/honda_fit_hybrid_2018_can.dbc
  generator/honda/honda_insight_ex_2019_can.dbc
  generator/honda/honda_odyssey_exl_2018.dbc
  generator/honda/honda_odyssey_extreme_edition_2018_china_can.dbc
Due: none

remove from _honda_common
  generator/honda/_honda_common.dbc
Due: none

fill out honda_civic_ex_2022.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
Due: none

also need to move ACC_CONTROL out of bosch 2018
  generator/honda/_bosch_2018.dbc
  generator/honda/_bosch_common.dbc
  generator/honda/acura_rdx_2020_can.dbc
  generator/honda/honda_accord_2018_can.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
  generator/honda/honda_civic_hatchback_ex_2017_can.dbc
  generator/honda/honda_crv_ex_2017_can.dbc
  generator/honda/honda_insight_ex_2019_can.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
