Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --force
  - --quiet
  - -j4

docker push
  .github/workflows/tests.yml
Due: none

use cached docker image
  .github/workflows/tests.yml
Due: none

Docker layer caching in CI (#273)
  .github/workflows/tests.yml
Due: none

Change Steer_Torque_Sensor scaling factor to 1
  generator/subaru/_subaru_preglobal_2015.dbc
Due: none

Remove Units2 values
  generator/subaru/subaru_forester_2017.dbc
  generator/subaru/subaru_outback_2015.dbc
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_generated.dbc
Due: none

Units update for Subaru preglobal
  generator/subaru/_subaru_preglobal_2015.dbc
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_generated.dbc
Due: none

Update Steer_Torque_Sensor scaling factor
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_generated.dbc
Due: none

Change Forester Steer_Torque_Sensor scaling factor to -1, fixes assisted lane change
  generator/subaru/_subaru_preglobal_2015.dbc
  generator/subaru/subaru_forester_2017.dbc
  generator/subaru/subaru_outback_2015.dbc
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_generated.dbc
Due: none

Generated dbc-s for Subaru preglobal
  generator/subaru/_subaru_preglobal_2015.dbc
  generator/subaru/subaru_forester_2017.dbc
  generator/subaru/subaru_outback_2015.dbc
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_generated.dbc
Due: none

Remove overlapping ES_LDW Alerts signal, BU_ and Units2 values syntax fix
  generator/subaru/_subaru_preglobal_2015.dbc
  generator/subaru/subaru_forester_2017.dbc
  generator/subaru/subaru_outback_2015.dbc
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_generated.dbc
Due: none

Move comments to applicable DBC files, fix min and max value definitions
  generator/subaru/_subaru_preglobal_2015.dbc
  generator/subaru/subaru_forester_2017.dbc
  generator/subaru/subaru_outback_2015.dbc
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_generated.dbc
Due: none

Subaru preglobal DBC update (#270)
  generator/subaru/_subaru_preglobal_2015.dbc
  generator/subaru/subaru_forester_2017.dbc
  generator/subaru/subaru_outback_2015.dbc
  subaru_forester_2017.dbc
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_eyesight.dbc
  subaru_outback_2015_generated.dbc
Due: none

update dockerhub token
  .github/workflows/tests.yml
Due: none

break loop early
  can/parser.cc
Due: cppcheck

Seatbelt Driver
  volvo_v40_2017_pt.dbc
Due: none

OpenDBC updates
  volvo_v40_2017_pt.dbc
Due: none

Hyundai: AEB and FCW signals
  hyundai_kia_generic.dbc
Due: none

fix typo
  hyundai_kia_generic.dbc
Due: none

gitignore scons temp file
  .gitignore
Due: none

enable -Werror
  SConstruct
Due: none

Add Subaru Outback 2019
  generator/subaru/subaru_outback_2019.dbc
  subaru_outback_2019_generated.dbc
Due: none

Add Steer_Warning signal to Steering_Torque
  subaru_global_2017.dbc
Due: none

Subaru Outback 2019 (#278)
  generator/subaru/subaru_outback_2019.dbc
  subaru_global_2017.dbc
  subaru_outback_2019_generated.dbc
Due: none

fixing mismatched speeds on lexus rx 350
  lexus_rx_350_2016_pt_generated.dbc
Due: none

fix warnings in parser_pyx build
  can/parser_pyx.pyx
Due: none

enable -Wunused
  SConstruct
  can/parser.cc
Due: cppcheck

enable -Wunused (#280)
  SConstruct
  can/parser.cc
Due: cppcheck

build packer and parser with same setup
  .gitignore
  can/2
  can/common_pyx_setup.py
  can/packer_pyx_setup.py
Due: pylint

fix build
  can/2
  can/SConscript
  can/common_pyx_setup.py
Due: pylint

remove packer setup
  can/packer_pyx_setup.py
Due: pylint

extra compile args
  can/common_pyx_setup.py
Due: pylint

Build cython extensions in common setup.py (#281)
  .gitignore
  can/SConscript
  can/common_pyx_setup.py
  can/parser_pyx_setup.py
Due: pylint

Path conditions:
  pylint: any of: \.py$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
