Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

VW MQB: Detect sport-manumatic shift program
  vw_mqb_2010.dbc
Due: none

VW MQB: Detect sport-manumatic shift program (#587)
  vw_mqb_2010.dbc
Due: none

update threshold
  honda_civic_touring_2016_can_generated.dbc
Due: none

generate
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  generator/honda/_comma.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

Honda: remove interceptor scaling (#588)
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  generator/honda/_comma.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

CANParser: add flag for bus timeout
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

bump to 500ms
  can/parser_pyx.pyx
Due: none

10x most frequent msg
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

little test
  can/tests/test_packer_parser.py
Due: pylint

per bus
  can/common.h
  can/parser.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

Update can/parser.cc
  can/parser.cc
Due: cppcheck

CANParser: add flag for bus timeout (#586)
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

add missing import for std::numeric_limits<...>::max()
  can/parser.cc
Due: cppcheck

add missing import for std::numeric_limits<...>::max() (#589)
  can/parser.cc
Due: cppcheck

Ford: add OP-style transmission values
  ford_lincoln_base_pt.dbc
Due: none

body: add motors currents msg
  comma_body.dbc
Due: none

fix description of DISTANCE and arrange ACC_CONTROL in numerical order
  generator/toyota/_toyota_2017.dbc
Due: none

run generator
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

body: add cells count, fix bugs
  comma_body.dbc
Due: none

remove offsets as well
  generator/toyota/_comma.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

cleanup sconstruct
  SConstruct
Due: none

Toyota: fix description of DISTANCE signal (#592)
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

VW MQB: Populate Kombi_03 signals
  vw_mqb_2010.dbc
Due: none

VW MQB: Populate Kombi_03 signals (#593)
  vw_mqb_2010.dbc
Due: none

Transmisssion signals
  bmw_e9x_e8x.dbc
Due: none

Handbrke, units, scaling fixes
  bmw_e9x_e8x.dbc
Due: none

Toyota: remove interceptor scaling (#552)
  generator/toyota/_comma.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

body: remove cell count
  comma_body.dbc
Due: none

Added new DBC file: mazda_radar.dbc
  mazda_radar.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
