Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        args:
        - --quiet
        - --counting=detailed
        - --linelength=240
        - --filter=-legal,-build/include_order,-readability/casting,-whitespace/braces,-whitespace/indent,-whitespace/operators,-build/c++11,-readability/todo,-runtime/explicit,-runtime/int,-whitespace/comments,-readability/braces,-runtime/arrays,-runtime/references
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

libdbc: build both static and shared library (#786)
  .gitignore
  can/SConscript
Due: none

More on Nissan (#746)
  nissan_xterra_2011.dbc
Due: none

pass values by referer
  can/common.pxd
Due: none

hyundai_2015_ccan.dbc: fix signal scale (#732)
  hyundai_2015_ccan.dbc
Due: none

CANPacker: pass values by reference in cython (#803)
  can/common.pxd
Due: none

VW PQ: corrections to EPB_1
  vw_golf_mk4.dbc
Due: none

VW PQ: corrections to EPB_1 (#804)
  vw_golf_mk4.dbc
Due: none

wip
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

VW MQB: Clean up HCA control message
  vw_mqb_2010.dbc
Due: none

enable checksum/counter, change scaling
  vw_mqb_2010.dbc
Due: none

fix mangled comment character encoding
  vw_mqb_2010.dbc
Due: none

forgot checksum and stuff
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

update
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

add test for update_strings
  can/tests/test_parser.py
Due: pylint

change thresholds
  can/tests/test_parser.py
Due: pylint

increase to 50000
  can/tests/test_parser.py
Due: pylint

update thresholds
  can/tests/test_parser.py
Due: pylint

add blank filler
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

CANParser: add performance test (#801)
  can/tests/test_dbc_exceptions.py
  can/tests/test_define.py
  can/tests/test_parser.py
Due: pylint

CANParser: use emplace_back to reduce the cost of copying values (#797)
  can/parser.cc
Due: cppcheck

use normal dict for vl_all
  can/parser_pyx.pyx
Due: none

reduce threshold for test all signals
  can/tests/test_parser.py
Due: pylint

change
  can/tests/test_parser.py
Due: pylint

reduce min
  can/tests/test_parser.py
Due: pylint
