Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.1
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        args:
        - --quiet
        - --counting=detailed
        - --linelength=240
        - --filter=-legal,-build/include_order,-readability/casting,-whitespace/braces,-whitespace/indent,-whitespace/operators,-build/c++11,-readability/todo,-runtime/explicit,-runtime/int,-whitespace/comments,-readability/braces,-runtime/arrays,-runtime/references
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

DBC parser: assert no duplicate signal names in msg (#821)
  can/dbc.cc
Due: cppcheck

new infotainment sigs
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

better names
  generator/subaru/subaru_global_2017.dbc
Due: none

generate
  subaru_global_2017_generated.dbc
Due: none

another static bit signal (set on a forster)
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

generate
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

Subaru: more infotainment signals (#823)
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

Added AWV (AEB) signals
  vw_golf_mk4.dbc
Due: none

add CRUISE_FAULT_STATUS
  generator/honda/honda_hrv_ehev_2022_can.dbc
  honda_hrv_ehev_2022_can_generated.dbc
Due: none

fix duplicate naming
  generator/honda/honda_hrv_ehev_2022_can.dbc
  honda_hrv_ehev_2022_can_generated.dbc
Due: none

AWV message length: 8
  vw_golf_mk4.dbc
Due: none

AWV message cleanup and VAL table added
  vw_golf_mk4.dbc
Due: none

Sort AWV
  vw_golf_mk4.dbc
Due: none

EPB_1 cleanup and sort
  vw_golf_mk4.dbc
Due: none

Update vw_golf_mk4.dbc
  vw_golf_mk4.dbc
Due: none

Missed one...
  vw_golf_mk4.dbc
Due: none

fix parser perf test
  can/tests/test_parser.py
Due: pylint

fix parser perf test (#827)
  can/tests/test_parser.py
Due: pylint

revert changes to test_parser.py
  can/tests/test_parser.py
Due: pylint

change thresholds
  can/tests/test_parser.py
Due: pylint

remove update_string() from cython
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
  can/tests/test_parser.py
Due: pylint

comment out test_performance_one_signal
  can/tests/test_parser.py
Due: pylint

reduce thresholds
  can/tests/test_parser.py
Due: pylint

test
  .github/workflows/tests.yml
  can/tests/test_parser.py
Due: pylint

update
  .github/workflows/tests.yml
  can/tests/test_parser.py
Due: pylint

update
  can/tests/test_parser.py
Due: pylint

revert that for now
  .github/workflows/tests.yml
  can/parser.cc
Due: cppcheck

refactor CANParser to improve performance (#795)
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
  can/tests/test_parser.py
Due: pylint, cppcheck

refactor CANParser to improve performance (#795)
  .github/workflows/tests.yml
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
  can/tests/test_parser.py
Due: pylint, cppcheck

CANParser: parse all signals for a message
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

update tests
  can/tests/test_dbc_exceptions.py
  can/tests/test_dbc_parser.py
  can/tests/test_packer_parser.py
  can/tests/test_parser.py
Due: pylint

just use a pair
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_checksums.py
Due: pylint, cppcheck

rm enforce checks
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint

rm that
  can/tests/test_parser.py
Due: pylint

EP1_Fehler_BKL
  vw_golf_mk4.dbc
Due: none

add comment
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none
