Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

Tesla Model 3 / Y
  opendbc/car/fingerprints.py
  opendbc/car/tesla/__init__.py
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/carstate.py
  opendbc/car/tesla/fingerprints.py
  opendbc/car/tesla/interface.py
  opendbc/car/tesla/radar_interface.py
  opendbc/car/tesla/teslacan.py
  opendbc/car/tesla/values.py
  opendbc/car/tests/test_fw_fingerprint.py
  opendbc/car/torque_data/override.toml
  opendbc/car/values.py
Due: pylint

delete rivian dbc
  rivian_can.dbc
Due: none

Create python-publish.yml
  .github/workflows/python-publish.yml
Due: none

fix
  opendbc/car/tesla/carcontroller.py
  opendbc/car/tesla/fingerprints.py
  opendbc/car/tesla/interface.py
  opendbc/car/tesla/values.py
Due: pylint

rename car label
  .github/labeler.yaml
Due: none

add opendbc/can/ to LIBPATH
  opendbc/can/SConscript
Due: none

test
  opendbc/car/ford/__init__.py
Due: pylint

test
  opendbc/car/hyundai/tests/__init__.py
Due: pylint

make sure to detect subdirectories like tests/
  .github/labeler.yaml
Due: none

test
  opendbc/car/toyota/carstate.py
Due: pylint

this should work
  .github/workflows/auto_pr_review.yaml
Due: none

this should work
  .github/labeler.yaml
Due: none

wtf is this
  .github/labeler.yaml
Due: none

test
  opendbc/can/common.cc
Due: cppcheck

clean up
  .github/workflows/auto_pr_review.yaml
  opendbc/can/common.cc
  opendbc/car/hyundai/tests/__init__.py
  opendbc/car/toyota/carstate.py
Due: pylint, cppcheck

test
  opendbc/car/honda/fingerprints.py
Due: pylint

test
  opendbc/dbc/acura_rdx_2018_can_generated.dbc
Due: none

clean up
  .github/labeler.yaml
  .github/workflows/auto_pr_review.yaml
  opendbc/car/honda/fingerprints.py
  opendbc/dbc/acura_rdx_2018_can_generated.dbc
Due: pylint

clean up
  .github/workflows/auto_pr_review.yaml
Due: none

fixup auto labeler (#1089)
  .github/labeler.yaml
Due: none

Add Ford Escape 2023 Fingerprints
  opendbc/car/ford/fingerprints.py
Due: pylint

Update values.py
  opendbc/car/ford/values.py
Due: pylint

Mark 23 Escape as CAN-FD
  opendbc/car/ford/values.py
Due: pylint

Hyundai: Kona 2nd Gen Port
  opendbc/car/hyundai/carstate.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
  opendbc/car/torque_data/override.toml
Due: pylint

Hyundai: Add FW Versions for Staria 2024
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
Due: pylint

HKG: Car Port for Genesis GV70 Electrified 2023 (HDA2)
  opendbc/car/hyundai/carstate.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/values.py
  opendbc/car/torque_data/override.toml
Due: pylint

HKG: Car Port for Genesis G80 2024 (2.5T, HDA2)
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/values.py
  opendbc/car/torque_data/override.toml
Due: pylint

HKG: Car Port for Genesis GV70 2022 (3.5T, HDA2)
  opendbc/car/docs_definitions.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/values.py
Due: pylint

HKG: Add FW versions for Genesis GV70 2024
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
Due: pylint

HKG: Car Port for Genesis GV80 2021 (Middle East only)
  opendbc/car/docs_definitions.py
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/values.py
Due: pylint

Hyundai: Car Port for Kona 2022
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/hyundaican.py
  opendbc/car/hyundai/values.py
  opendbc/car/torque_data/substitute.toml
Due: pylint

Hyundai: Car Port for Nexo 2021
  opendbc/car/hyundai/carstate.py
  opendbc/car/hyundai/interface.py
  opendbc/car/hyundai/values.py
  opendbc/car/torque_data/override.toml
  opendbc/dbc/hyundai_kia_generic.dbc
Due: pylint

HKG: Car Port for Kia Sportage Plug-in Hybrid 2023
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/values.py
Due: pylint

Hyundai: Car Port for Creta (Non-US only) 2024
  opendbc/car/hyundai/fingerprints.py
  opendbc/car/hyundai/hyundaican.py
  opendbc/car/hyundai/values.py
  opendbc/car/torque_data/override.toml
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
