Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

Update dbcview.py
  dbcview.py
Due: pylint

update
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

detection
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

honda_civic_ex_2022: add BRAKE_MODULE (#811)
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

remove filler signals
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

convert toval
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

Subaru: add infotainment status message (#809)
  generator/subaru/subaru_global_2017.dbc
  subaru_global_2017_generated.dbc
Due: none

test parser: bump up one signal threshold
  can/tests/test_parser.py
Due: pylint

add alt gears for Thai HR-V hybrid
  honda_civic_ex_2022_can_generated.dbc
Due: none

CANParser: add msg name to debug prints
  can/common.h
  can/parser.cc
Due: cppcheck

CANParser: add msg name to debug prints (#813)
  can/common.h
  can/parser.cc
Due: cppcheck

checksum and counter
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

Honda Radarless: add a cruise related signal (#807)
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

add generator file
  generator/honda/honda_civic_ex_2022_can.dbc
Due: none

Mazda: add comments to BSM signals
  mazda_2017.dbc
Due: none

Mazda: a few new radar signals
  mazda_2017.dbc
Due: none

Mazda Traffic Jam Assit (TJA) state
  mazda_2017.dbc
Due: none

VW MQB: Cleanup HCA control message (#805)
  vw_mqb_2010.dbc
Due: none

CI: add job to update pre-commit hooks
  .github/workflows/repo.yml
Due: none

Update pre-commit hook versions
  .pre-commit-config.yaml
Due: none

rm push trigger
  .github/workflows/repo.yml
Due: none

CI: add job to update pre-commit hooks (#817)
  .github/workflows/repo.yml
Due: none

switch to pat
  .github/workflows/repo.yml
Due: none

split and update
  .github/workflows/tests.yml
  Dockerfile
  requirements.txt
Due: none

CI: split up jobs + update requirements (#819)
  .github/workflows/tests.yml
  Dockerfile
  requirements.txt
Due: none

CI: split up jobs + update requirements (#819)
  Dockerfile
  requirements.txt
Due: none

DBC parser: assert no duplicate signal names in msg
  can/dbc.cc
Due: cppcheck

remove duplicate signal names from Honda DBCs
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  acura_rdx_2020_can_generated.dbc
  generator/honda/_bosch_2018.dbc
  generator/honda/_bosch_adas_2018.dbc
  generator/honda/_nidec_common.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
  generator/honda/honda_crv_executive_2016_can.dbc
  generator/honda/honda_crv_touring_2016_can.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_ex_2022_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

remove duplicate signal names from Honda DBCs (#822)
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  acura_rdx_2020_can_generated.dbc
  generator/honda/_bosch_2018.dbc
  generator/honda/_bosch_adas_2018.dbc
  generator/honda/_nidec_common.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
  generator/honda/honda_crv_executive_2016_can.dbc
  generator/honda/honda_crv_touring_2016_can.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_ex_2022_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

DBC parser: assert no duplicate signal names in msg (#821)
  can/dbc.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
