Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        args:
        - --ignore=E111,E114,E121,E124,E302,E501,E741
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: 'can/dbc_template.cc'
        args:
        - --error-exitcode=1
        - --force
        - --quiet
        - -j4

Volvo DBC files for C1MCA and EUCD platform (#291)
  volvo_v40_2017_pt.dbc
  volvo_v60_2015_pt.dbc
Due: none

CIVIC_BOSCH needs an empty nidec brake command frame for long control. (#246)
  generator/honda/honda_civic_hatchback_ex_2017_can.dbc
  generator/honda/honda_civic_sedan_16_diesel_2019_can.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
Due: none

Tune 2020 Corolla safetyParam
  generator/toyota/toyota_corolla_2020_pt.dbc
  generator/toyota/toyota_corolla_hybrid_2020_pt.dbc
  toyota_corolla_2020_pt_generated.dbc
  toyota_corolla_hybrid_2020_pt_generated.dbc
Due: none

Switch update string to using char *.
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

typo fix
  can/parser.cc
Due: cppcheck

toyota_prius_2021_tss2.dbc
  toyota_prius_2021_tss2.dbc
Due: none

Add 2020 Acura RDX
  acura_rdx_2020_can_generated.dbc
  generator/honda/_bosch_2020.dbc
  generator/honda/acura_rdx_2020_can.dbc
Due: none

Add 2020 Acura RDX (#290)
  acura_rdx_2020_can_generated.dbc
  generator/honda/_bosch_2020.dbc
  generator/honda/acura_rdx_2020_can.dbc
Due: none

c++17
  SConstruct
  can/common_pyx_setup.py
Due: pylint

1z
  SConstruct
  can/common_pyx_setup.py
Due: pylint

Charge stats signals corrected
  gm_global_a_high_voltage_management.dbc
Due: none

Date and Time
  toyota_nodsu_pt_generated.dbc
Due: none

Date and Time (#306)
  toyota_nodsu_pt_generated.dbc
Due: none

c++17 (#305)
  SConstruct
  can/common_pyx_setup.py
Due: pylint

Added Pedal messages for GM
  gm_global_a_powertrain.dbc
Due: none

Added AEB command
  gm_global_a_powertrain.dbc
Due: none

Create RAM_Cummins_2019.dbc
  RAM_Cummins_2019.dbc
Due: none

Fix BECM pack current scaling Add charger mains and status decoding
  gm_global_a_high_voltage_management.dbc
  gm_global_a_powertrain_expansion.dbc
Due: none

wqupgrade ubuntu to 20.04
  .github/workflows/tests.yml
  Dockerfile
Due: none

bump pyton
  Dockerfile
Due: none

non interactive
  Dockerfile
Due: none

fix cppcheck violations
  .pre-commit-config.yaml
  can/common.cc
Due: cppcheck

clean up
  .github/workflows/tests.yml
  can/tests/test_packer_parser.py
Due: pylint

adding lexus nx300 dbc file
  lexus_nx300_2018_pt_generated.dbc
Due: none

play with llvm libfuzzer
  can/.gitignore
  can/SConscript
  can/fuzz.cc
  can/parser.cc
Due: cppcheck

improve coverage
  can/fuzz.cc
Due: cppcheck

use generator
  generator/toyota/lexus_nx300_2018_pt.dbc
  lexus_nx300_2018_pt_generated.dbc
Due: none

fix that
  toyota_nodsu_pt_generated.dbc
Due: none

Lexus NX300 (#313)
  generator/toyota/lexus_nx300_2018_pt.dbc
  lexus_nx300_2018_pt_generated.dbc
Due: none

Master bolt (#2)
  gm_global_a_powertrain.dbc
Due: none

fix pycapnp
  requirements.txt
Due: none

ubuntu 16.04 -> 20.04 (#309)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Dockerfile
  can/common.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck
