Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

setting vl is slow when not needed
  can/parser_pyx.pyx
Due: none

can do this instead
  can/parser_pyx.pyx
Due: none

use a map to reset updated instead
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

could work
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

should be light-speed
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

clean up
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

clean up
  can/parser_pyx.pyx
Due: none

make sure updated is empty if nothing is updated
  can/tests/test_packer_parser.py
Due: pylint

Revert "CANParser: add field for all updated values (#548)"
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

CANParser: minor speedup
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint

CANParser: minor speedup (#560)
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint

should be fast enough
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

more test
  can/tests/test_packer_parser.py
Due: pylint

CANParser: add field for all values from a cycle (#558)
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

test to make sure we don't throw away updated values if we get multiple can frames from boardd
  can/tests/test_packer_parser.py
Due: pylint

call cpp's update_string from update_strings
  can/parser_pyx.pyx
Due: none

fix test
  can/tests/test_packer_parser.py
Due: pylint

split in half
  can/tests/test_packer_parser.py
Due: pylint

CANParser: fix missing updated values (#561)
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint

all_vals only updates when > 1 msg updates
  can/parser_pyx.pyx
Due: none

add definitions for ACCMode from greg
  hyundai_kia_generic.dbc
Due: none

comments are first
  hyundai_kia_generic.dbc
Due: none

sort hyundai DBC
  hyundai_kia_generic.dbc
Due: none

Hyundai: add definitions for ACCMode (#563)
  hyundai_kia_generic.dbc
Due: none

use same definition as ilx
  generator/honda/honda_accord_2018_can.dbc
Due: none

generator
  acura_rdx_2020_can_generated.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_hybrid_2019_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
Due: none

whoops
  generator/honda/_bosch_2018.dbc
Due: none

move extra messages into accord DBC
  generator/honda/_bosch_2018.dbc
  generator/honda/honda_accord_2018_can.dbc
  generator/honda/honda_civic_sedan_16_diesel_2019_can.dbc
  generator/honda/honda_crv_hybrid_2019_can.dbc
Due: none

remove comments moved to _bosch_2018
  generator/honda/_bosch_2018.dbc
  generator/honda/honda_crv_ex_2017_can.dbc
Due: none

clean up formatting
  generator/honda/honda_accord_2018_can.dbc
Due: none

use civic diesel's definition
  generator/honda/honda_accord_2018_can.dbc
  honda_accord_2018_can_generated.dbc
Due: none

Honda: unify CRV Hybrid, Civic Bosch Diesel, Accord/H DBCs (#554)
  acura_rdx_2020_can_generated.dbc
  generator/honda/_bosch_2018.dbc
  generator/honda/honda_accord_2018_can.dbc
  generator/honda/honda_civic_sedan_16_diesel_2019_can.dbc
  generator/honda/honda_crv_ex_2017_can.dbc
  generator/honda/honda_crv_hybrid_2019_can.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_sedan_16_diesel_2019_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_hybrid_2019_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
Due: none

add alternate brake pressed bit
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

add init signal
  generator/toyota/_toyota_2017.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
