Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

cleanup
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  chrysler_ram_hd_generated.dbc
  generator/chrysler/_stellantis_common.dbc
Due: none

chrysler: update DAS messages (#973)
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  chrysler_ram_hd_generated.dbc
  generator/chrysler/_stellantis_common.dbc
  generator/chrysler/_stellantis_common_ram.py
  generator/chrysler/chrysler_pacifica_2017_hybrid.dbc
Due: pylint

Update pre-commit hook versions
  .pre-commit-config.yaml
Due: none

pre-commit: autoupdate hooks (#974)
  .pre-commit-config.yaml
Due: none

stellantis: fix overlapping signal
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  chrysler_ram_hd_generated.dbc
  generator/chrysler/_stellantis_common.dbc
Due: none

stellantis: fix overlapping signal (#975)
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  chrysler_ram_hd_generated.dbc
  generator/chrysler/_stellantis_common.dbc
Due: none

sync dbc with generator
  generator/hyundai/hyundai_canfd.dbc
  hyundai_canfd_generated.dbc
Due: none

test
  can/tests/test_packer_parser.py
Due: pylint

fix
  can/parser.cc
Due: cppcheck

clean up
  can/parser.cc
Due: cppcheck

fix
  can/tests/test_packer_parser.py
Due: pylint

clean up
  can/tests/test_packer_parser.py
Due: pylint

debug
  can/parser.cc
Due: cppcheck

Revert "debug"
  can/parser.cc
Due: cppcheck

recover
  can/tests/test_packer_parser.py
Due: pylint

also can update at bottom since we don't break early
  can/parser.cc
Due: cppcheck

changes
  can/tests/test_packer_parser.py
Due: pylint

Revert "changes"
  can/tests/test_packer_parser.py
Due: pylint

don't need \n
  can/parser.cc
Due: cppcheck

cmt
  can/tests/test_packer_parser.py
Due: pylint

no need to change print behavior here
  can/parser.cc
Due: cppcheck

fix
  can/parser.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

info needs \n
  can/parser.cc
Due: cppcheck

CANParser: clip `counter_fail` to the max (#976)
  can/parser.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

process all signals before ending early
  can/parser.cc
Due: cppcheck

Hyundai CAN-FD: Lead Relative Speed
  hyundai_canfd.dbc
Due: none

pre-commit: autoupdate hooks (#978)
  .pre-commit-config.yaml
Due: none

this is more clear
  can/parser.cc
Due: cppcheck

Revert "this is more clear"
  can/parser.cc
Due: cppcheck

test!
  can/tests/test_packer_parser.py
Due: pylint

comment
  can/tests/test_packer_parser.py
Due: pylint

it would return false if any checksum or counter was invalid, not updating last_seen_nanos, so don't change behavior
  can/parser.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
