Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        args:
        - --quiet
        - --counting=detailed
        - --linelength=240
        - --filter=-legal,-build/include_order,-readability/casting,-whitespace/braces,-whitespace/indent,-whitespace/operators,-build/c++11,-readability/todo,-runtime/explicit,-runtime/int,-whitespace/comments,-readability/braces,-runtime/arrays,-runtime/references
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

revert more stuff
  can/dbc.cc
  can/parser_pyx.pyx
  hyundai_canfd.dbc
Due: cppcheck

remove openpilot_status
  generator/subaru/subaru_global_2017.dbc
Due: none

run generator
  subaru_global_2017_generated.dbc
Due: none

FCA: add LKAS button related signals from jvePilot (#3)
  chrysler_pacifica_2017_hybrid_generated.dbc
Due: none

Mazda: add RX-8
  mazda_rx8.dbc
Due: none

Mazda: add RX-8 (#849)
  mazda_rx8.dbc
Due: none

avg freq
  can/common.h
  can/parser.cc
Due: cppcheck

remove unused imports
  can/common.pxd
  can/packer_pyx.pyx
  can/parser_pyx.pyx
Due: none

VW MQB DBC fixed such that it can be opened in Vector tools (such as CANdb++ and Canalyzer). Various signal comments were artifacts and not linked, hence the prior error.
  vw_mqb_2010.dbc
Due: none

Kombi related messages updated along with new ones that are found to be transmitted by Kombi on the bench
  vw_mqb_2010.dbc
Due: none

New English variant of MQB DBC - Some translations complete but lots more to do
  vw_mqb_2010_EN.dbc
Due: none

add cython-lint to pre-commit
  .pre-commit-config.yaml
  can/common.pxd
  can/packer_pyx.pyx
  can/parser_pyx.pyx
  pyproject.toml
Due: none

more pyproject
  pyproject.toml
Due: none

extended uds multiplexing
  can/common_dbc.h
  can/dbc.cc
  can/parser.cc
  can/tests/test_packer_parser.py
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: pylint, cppcheck

aeb and fcw
  can/tests/test_packer_parser.py
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: pylint

extended multiplexing
  can/parser_pyx.pyx
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

revert unrelated changes
  generator/subaru/subaru_global_2017.dbc
  hyundai_canfd.dbc
  subaru_global_2017_generated.dbc
Due: none

fix unittests
  can/dbc.cc
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: cppcheck

fix comments
  can/tests/test_packer_parser.py
Due: pylint

fix formatting
  can/dbc.cc
Due: cppcheck

Further translation of Kombi related message
  vw_mqb_2010_EN.dbc
Due: none

gitignore updated to not include CANalyzer artifacts
  .gitignore
Due: none

gitignore updated to include correct wildcard syntax for any file name
  .gitignore
Due: none

rename to alive_threshold
  can/common.h
  can/parser.cc
Due: cppcheck

fix signal factor and fix signal name
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

add comments and another sig
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

comment
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Toyota: fix and add some PCM signals (#856)
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

setup cython linting (#851)
  .pre-commit-config.yaml
  can/common.pxd
  can/packer_pyx.pyx
  can/parser_pyx.pyx
  pyproject.toml
Due: none

Merged back into master after successful merge with master
  vw_mqb_2010_EN.ini
Due: none

add temperature dash alerts
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

just spaces
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

add dust
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

add radar adjust
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Toyota: add ACC dash alerts (#857)
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

undo sort since hard to view diff
  mazda_2017.dbc
Due: none
