Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

Revert "also need to move ACC_CONTROL out of bosch 2018"
  generator/honda/_bosch_2018.dbc
  generator/honda/_bosch_common.dbc
  generator/honda/acura_rdx_2020_can.dbc
  generator/honda/honda_accord_2018_can.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
  generator/honda/honda_civic_hatchback_ex_2017_can.dbc
  generator/honda/honda_crv_ex_2017_can.dbc
  generator/honda/honda_insight_ex_2019_can.dbc
Due: none

just use our new honda_common_2018
  generator/honda/_bosch_2018.dbc
  generator/honda/_honda_common_2018.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
Due: none

generate
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  acura_rdx_2020_can_generated.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

add generated 2022 civic file
  honda_civic_ex_2022_can_generated.dbc
Due: none

ev6 squash
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
  kia_ev6.dbc
Due: cppcheck

Kia EV6 (#567)
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
  kia_ev6.dbc
Due: cppcheck

display missing message error
  can/parser_pyx.pyx
Due: none

print missing messages
  can/parser_pyx.pyx
Due: none

add STEERING_SENSORS
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

Revert "print missing messages"
  can/parser_pyx.pyx
Due: none

DBC parser: add line number to errors (#614)
  can/dbc.cc
Due: cppcheck

move ACC_CONTROL to _bosch_common so it's not added to nidecs
  generator/honda/_bosch_2018.dbc
  generator/honda/_bosch_common.dbc
  generator/honda/_honda_common_2018.dbc
  generator/honda/honda_civic_ex_2022_can.dbc
Due: none

generate
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  acura_rdx_2020_can_generated.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_ex_2022_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

CANParser: wait a couple seconds printing misisng
  can/common.h
  can/parser.cc
Due: cppcheck

fix DBC parsing time test
  can/tests/test_can_parser.py
Due: pylint

more ev6 mdps signals
  kia_ev6.dbc
Due: none

quick draft of what this might look like
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

add get_signal
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

ev6: more cruise buttons
  kia_ev6.dbc
Due: none

ev6: add LFA button
  kia_ev6.dbc
Due: none

Add LTA Status
  toyota_nodsu_pt_generated.dbc
Due: none

Generate
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

Fix typo
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

more ev6 lka signals
  kia_ev6.dbc
Due: none

toyota nodsu cars support
  toyota_nodsu_adas.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

add missing XXX BU
  toyota_nodsu_adas.dbc
Due: none

update comments for msg
  toyota_nodsu_pt_generated.dbc
Due: none

add CANFILTER to _toyota_2017.dbc
  generator/toyota/_toyota_2017.dbc
Due: none

remove CANFILTER BU
  generator/toyota/_toyota_2017.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

add to generator files
  generator/toyota/_toyota_2017.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

fix all files
  generator/toyota/_toyota_2017.dbc
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

dbc parser: remove address check for interceptor check (#615)
  can/dbc.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
