Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: 'can/dbc_template.cc'
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4

disable checks
  can/parser_pyx.pyx
Due: none

added LTA_STATE value descriptions
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

implement more fluent api which takes a list of namedtuple which includes address, busTime, dat, src as members.
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

change to m/s
  toyota_nodsu_adas.dbc
Due: none

add EPS_STATUS 17
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

Toyota: add permanent EPS fault status (#625)
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

speed to m/s for cluster
  toyota_nodsu_adas.dbc
Due: none

instead test parsing all DBCs
  can/tests/test_can_parser.py
  can/tests/test_dbc_parser.py
Due: pylint

Update generator/toyota/toyota_nodsu_pt.dbc
  generator/toyota/toyota_nodsu_pt.dbc
Due: none

update range and definitions
  generator/toyota/toyota_nodsu_pt.dbc
Due: none

haven't seen a permanent fault yet
  generator/toyota/toyota_nodsu_pt.dbc
Due: none

generate
  toyota_nodsu_pt_generated.dbc
Due: none

Toyota: add LTA state signal (#622)
  generator/toyota/toyota_nodsu_pt.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

remove print
  can/tests/test_dbc_parser.py
Due: pylint

add comment for what this tests
  can/tests/test_dbc_parser.py
Due: pylint

Welcome back, guys. Only adjust good torque if maxLatAccel is set
  can/tests/test_dbc_parser.py
Due: pylint

tests: remove DBC parsing timing test (#626)
  can/tests/test_can_parser.py
  can/tests/test_dbc_parser.py
Due: pylint

toyota pcm follow distance
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

GM PRNDL2 transition value to U
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

VW PQ: Cleanup, new messages
  vw_golf_mk4.dbc
Due: none

VW PQ: DBC updates (#630)
  vw_golf_mk4.dbc
Due: none

update
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

probably self-explanatory at this point
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Toyota: add follow distance signal (#627)
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Make 777 common
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  acura_rdx_2020_can_generated.dbc
  generator/honda/_bosch_2018.dbc
  generator/honda/_dual_can_nidec_2018.dbc
  generator/honda/_honda_common.dbc
  generator/honda/_nidec_2017.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

refactor MQB checksum/counter to prep for PQ
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
Due: cppcheck

first pass at PQ checksums and counters
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
  vw_golf_mk4.dbc
Due: cppcheck

remove checksum and counter alignment checks
  can/dbc.cc
Due: cppcheck

forgot HCA_1
  vw_golf_mk4.dbc
Due: none

remove checksum and counter alignment checks (#634)
  can/dbc.cc
Due: cppcheck

Honda: move CAR_SPEED to common DBC (#631)
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  acura_rdx_2020_can_generated.dbc
  generator/honda/_bosch_2018.dbc
  generator/honda/_dual_can_nidec_2018.dbc
  generator/honda/_honda_common.dbc
  generator/honda/_nidec_2017.dbc
  honda_accord_2018_can_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

Merge Nidec DBCs
  generator/honda/_honda_common.dbc
  generator/honda/_honda_reference.dbc
  generator/honda/_nidec_2017.dbc
  generator/honda/_nidec_common.dbc
  generator/honda/acura_ilx_2016_can.dbc
  generator/honda/acura_rdx_2018_can.dbc
  generator/honda/honda_civic_touring_2016_can.dbc
  generator/honda/honda_clarity_hybrid_2018_can.dbc
  generator/honda/honda_crv_executive_2016_can.dbc
  generator/honda/honda_crv_touring_2016_can.dbc
  generator/honda/honda_fit_ex_2018_can.dbc
  generator/honda/honda_fit_hybrid_2018_can.dbc
  generator/honda/honda_odyssey_exl_2018.dbc
  generator/honda/honda_odyssey_extreme_edition_2018_china_can.dbc
Due: none
