Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: 'can/dbc_template.cc'
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4

hyundai: fix TCS13 signals (#576)
  hyundai_kia_generic.dbc
Due: none

change sign
  comma_body.dbc
Due: none

signed..
  comma_body.dbc
Due: none

change structure
  comma_body.dbc
Due: none

not needed most of the time
  can/parser.cc
Due: cppcheck

allow utf-8 encoded characters
  can/dbc.py
Due: pylint

Body: DBC file (#582)
  comma_body.dbc
Due: none

change body address to x250
  comma_body.dbc
Due: none

body: add checksum and counter
  comma_body.dbc
Due: none

add to signals
  can/dbc_template.cc
  can/process_dbc.py
Due: pylint

revert
  can/process_dbc.py
Due: pylint

add fault byte
  comma_body.dbc
Due: none

add checksum to packer
  can/packer.cc
Due: cppcheck

move flags to bits
  comma_body.dbc
Due: none

body: counter and crc (#583)
  can/dbc_template.cc
  can/packer.cc
  comma_body.dbc
Due: cppcheck

GM AcceleratorPedal2 adds GasPressed, GasPressedInACC (ACC not braking), and something related to speed. Not backtested.
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

allow utf-8 encoded characters (#581)
  can/dbc.py
Due: pylint

body: battery percentage and charger connected
  comma_body.dbc
Due: none

body: typo
  comma_body.dbc
Due: none

Fix checksum for Honda extended CAN. Add test.
  can/common.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

revert packer_parser test
  can/tests/test_packer_parser.py
Due: pylint

begin test_checksum
  can/tests/test_checksum.py
Due: pylint

todo and comments
  can/tests/test_checksum.py
Due: pylint

convention
  can/tests/test_checksum.py
Due: pylint

unused
  can/tests/test_checksum.py
Due: pylint

forgot the s
  can/tests/test_checksums.py
Due: pylint

again
  can/tests/test_checksums.py
Due: pylint

cleanup
  can/tests/test_checksums.py
Due: pylint

remove that too
  can/tests/test_checksums.py
Due: pylint

Fix Honda checksum for extended CAN IDs. Add test function. (#585)
  can/common.cc
  can/tests/test_checksums.py
  can/tests/test_packer_parser.py
Due: pylint, cppcheck
