Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

change
  can/tests/test_parser.py
Due: pylint

CANParser: improve cython performance (#802)
  can/parser_pyx.pyx
  can/tests/test_parser.py
Due: pylint

CI: set PYTHONWARNINGS=error
  .github/workflows/tests.yml
Due: none

CI: set PYTHONWARNINGS=error (#806)
  .github/workflows/tests.yml
Due: none

update tests
  can/tests/test_packer_parser.py
  can/tests/test_parser.py
Due: pylint

fix error in merge master
  can/parser_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint

change thresholds
  can/tests/test_parser.py
Due: pylint

cleanup ctor
  can/parser.cc
Due: cppcheck

reduce threshold
  can/tests/test_parser.py
Due: pylint

fix missing bit
  generator/subaru/subaru_global_2017.dbc
Due: none

fix missing bit
  subaru_global_2017_generated.dbc
Due: none

add sigs
  generator/honda/honda_civic_ex_2022_can.dbc
  honda_civic_ex_2022_can_generated.dbc
Due: none

Update LIGHT_KNOB_POSITION values
  hyundai_canfd.dbc
Due: none

Honda HR-V e:HEV 2022 dbc
  generator/honda/honda_hrv_ehev_2022_can.dbc
  honda_hrv_ehev_2022_can_generated.dbc
Due: none

OpenDBC updates
  hyundai_canfd.dbc
Due: none

Added dbcview.py. A quick way to view message bitfields
  dbcview.py
Due: pylint

Update dbcview.py
  dbcview.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
