Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

merge #883
  can/tests/test_packer_parser.py
Due: pylint

cleanup
  can/packer.cc
Due: cppcheck

cleanup
  can/common.h
  can/packer.cc
Due: cppcheck

mostly repeated signals, combined those
  generator/subaru/subaru_global_2022.dbc
  subaru_global_2022_generated.dbc
Due: none

found more steering related messages
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

recursive support for including dbcs
  generator/generator.py
Due: pylint

split hybrid and ice, and split old_lkas
  generator/subaru/_subaru_global.dbc
  generator/subaru/_subaru_global_hybrid.dbc
  generator/subaru/_subaru_global_ice.dbc
  generator/subaru/_subaru_global_old_lkas.dbc
  generator/subaru/subaru_global_2017.dbc
  generator/subaru/subaru_global_2020_hybrid.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
  subaru_global_2022_generated.dbc
Due: none

whitespace
  generator/subaru/subaru_global_2022.dbc
  subaru_global_2022_generated.dbc
Due: none

PR cleanup
  generator/subaru/subaru_global_2022.dbc
  subaru_global_2022_generated.dbc
Due: none

Honda: Car Port for Accord 9th Generation (#4)
  generator/honda/_dual_nidec_common.dbc
  generator/honda/honda_accord_touring_2016_can.dbc
  generator/honda/honda_accord_touring_V6_2016_can.dbc
  generator/honda/honda_accord_touring_hybrid_2017_can.dbc
  honda_accord_touring_2016_can_generated.dbc
  honda_accord_touring_V6_2016_can_generated.dbc
  honda_accord_touring_hybrid_2017_can_generated.dbc
Due: none

move to existing dbc
  generator/subaru/_subaru_global.dbc
  generator/subaru/subaru_global_2022.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
  subaru_global_2022_generated.dbc
Due: none

Hyundai CAN-FD: new steering message
  hyundai_canfd.dbc
Due: none

bruh
  hyundai_canfd.dbc
Due: none

Add Subaru Global 2022 DBC (#758)
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

new blinker signals for 2nd Gen Kona
  hyundai_canfd.dbc
Due: none

remove that one
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

Subaru: more steering messages (#893)
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

test
  can/tests/test_packer_parser.py
Due: pylint

Revert "test"
  can/tests/test_packer_parser.py
Due: pylint

no partial
  can/tests/test_packer_parser.py
Due: pylint

test parser: cleanup test (#894)
  can/tests/test_packer_parser.py
Due: pylint

clean up
  can/packer_pyx.pyx
Due: none

CANPacker: don't track size (#895)
  can/packer_pyx.pyx
Due: none

add non-zero offset check
  can/packer.cc
Due: cppcheck

Revert "add non-zero offset check"
  can/packer.cc
Due: cppcheck

add
  can/packer.cc
Due: cppcheck

revert
  can/packer.cc
Due: cppcheck

add exception
  can/packer_pyx.pyx
Due: none

capitalization
  can/packer.cc
Due: cppcheck

clean up
  can/packer.cc
Due: cppcheck

use underscores, we haven't standardized one or the other yet
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
Due: cppcheck

use message name
  can/packer.cc
Due: cppcheck

test it works
  can/tests/test_packer_parser.py
Due: pylint

CANPacker: refactor to avoid undefined signals (#891)
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

already there
  can/packer.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
