Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.15.0
    hooks:
    -   id: cython-lint
    -   id: double-quote-cython-strings
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        args:
        - --quiet
        - --counting=detailed
        - --linelength=240
        - --filter=-legal,-build/include_order,-readability/casting,-whitespace/braces,-whitespace/indent,-whitespace/operators,-build/c++11,-readability/todo,-runtime/explicit,-runtime/int,-whitespace/comments,-readability/braces,-runtime/arrays,-runtime/references
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

fix that
  can/packer.cc
Due: cppcheck

packer: import stdexcept
  can/packer.cc
Due: cppcheck

packer: import stdexcept (#897)
  can/packer.cc
Due: cppcheck

enforce_checks
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
Due: cppcheck

pass to constructor
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
Due: cppcheck

bbb
  can/packer_pyx.pyx
Due: none

better comment
  can/packer.cc
Due: cppcheck

fine inside
  can/packer.cc
Due: cppcheck

Revert "fine inside"
  can/packer.cc
Due: cppcheck

rename
  can/packer.cc
Due: cppcheck

runtime error remove
  can/packer_pyx.pyx
Due: none

cython 3.0.0 breaks panda
  requirements.txt
Due: none

dont change that
  can/packer_pyx.pyx
Due: none

CI: Fix panda CI by not upgrading Cython (#898)
  requirements.txt
Due: none

Revert "CANPacker: refactor to avoid undefined signals (#891)"
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

Revert "CANPacker: refactor to avoid undefined signals (#891)" (#899)
  can/common.h
  can/common.pxd
  can/packer.cc
  can/packer_pyx.pyx
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

Revert "CI: Fix panda CI by not upgrading Cython (#898)"
  requirements.txt
Due: none

Add Subaru driver torque sensor Nm scaling factor and unit
  subaru_global_2017_generated.dbc
Due: none

cython
  requirements.txt
Due: none

ref
  Dockerfile
Due: none

test
  .github/workflows/tests.yml
Due: none

Werror
  .github/workflows/tests.yml
  SConstruct
Due: none

Update cython (#903)
  Dockerfile
  SConstruct
  requirements.txt
Due: none

alt is angle
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

Subaru: ALT LKAS request is actually angle (#904)
  generator/subaru/_subaru_global.dbc
  subaru_global_2017_generated.dbc
  subaru_global_2020_hybrid_generated.dbc
Due: none

wip
  generator/generator.py
  generator/subaru/subaru_outback_2023.dbc
  subaru_outback_2023_generated.dbc
Due: pylint

Toyota: rename ACC_HUD to PCS_HUD
  generator/toyota/_toyota_2017.dbc
Due: none

run generator
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Update repo.yml
  .github/workflows/repo.yml
Due: none

Update pre-commit hook versions
  .pre-commit-config.yaml
Due: none

Opel: Omega B database
  opel_omega_2001.dbc
Due: none

Hyundai: SantaFe CM database
  hyundai_santafe_2007.dbc
Due: none

VW MQBevo: Initial DBC
  vw_mqbevo.dbc
Due: none

endianness fixes
  vw_mqbevo.dbc
Due: none

enable opendbc checksum/counter handling
  can/dbc.cc
Due: cppcheck
