Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

fix
  can/parser.cc
Due: cppcheck

CANParser: message counters affect can_valid (#688)
  can/parser.cc
Due: cppcheck

Cleanup imports
  can/common.pyi
  can/parser_pyx.pyi
Due: none

type stubs for common, parser_pyx
  can/common.pyi
  can/parser_pyx.pyi
Due: none

common.pyi complete, added cpp stubs
  can/common.pyi
Due: none

CANPacker completed
  can/common.pyi
  can/packer_pyx.pyi
Due: none

parser_pyx.pyi complete
  can/parser_pyx.pyi
Due: none

values are indeed floats
  can/common.pyi
  can/parser_pyx.pyi
Due: none

Holding temp changes...
  can/can_define.py
  can/common.pyi
  can/packer.py
  can/packer_pyx.pyi
  can/parser.py
  can/parser_pyx.pyi
  generator/generator.py
Due: pylint

GM: Add Std CC Message & speed
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

GM: Add Standard Cruse Message, SetSpeed signal (#691)
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

pre-commit: check generated DBC files
  .pre-commit-config.yaml
  generator/test_generator.py
Due: pylint

pre-commit: check generated DBC files (#692)
  .pre-commit-config.yaml
  generator/test_generator.py
Due: pylint

bump pre-commit hook versions
  .pre-commit-config.yaml
Due: none

CANParser: ignore messages with wrong length
  can/parser.cc
Due: cppcheck

fix toyota
  can/parser.cc
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: cppcheck

subaru
  generator/subaru/_subaru_preglobal_2015.dbc
  subaru_forester_2017_generated.dbc
  subaru_outback_2015_generated.dbc
  subaru_outback_2019_generated.dbc
Due: none

some nissan and gm
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
  nissan_x_trail_2017.dbc
Due: none

vw pq
  vw_golf_mk4.dbc
Due: none

VW PQ: fix Lenkhilfe_2 length
  vw_golf_mk4.dbc
Due: none

Updates to support new hda commands
  hyundai_genesis_gv70.dbc
Due: none

accelerator and hda updates
  hyundai_genesis_gv70.dbc
Due: none

cruise button alt
  hyundai_genesis_gv70.dbc
Due: none

cruise info updates
  hyundai_genesis_gv70.dbc
Due: none

Toyota: add universal units signal
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

not vehicle units
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Update comment
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Update comment 2
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

Update signal name for RC and IS
  generator/toyota/_toyota_2017.dbc
  toyota_new_mc_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_tnga_k_pt_generated.dbc
Due: none

add script to generate json file mapping fingerprints to dbc names
  scripts/.gitignore
  scripts/generate_dbc_mapping.py
Due: pylint

fix types and path
  scripts/__init__.py
  scripts/generate_dbc_mapping.py
Due: pylint

precommit: add codespell
  .pre-commit-config.yaml
Due: none

Found another signal to passthrough
  ford_lincoln_base_pt.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
