Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: master
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: master
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        exclude: 'can/dbc_template.cc'
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4

would it be OK for me to translate this line?
  vw_golf_mk4.dbc
Due: none

English as comments
  vw_golf_mk4.dbc
Due: none

remove old Ram 1500 DBC
  stellantis_dasm.dbc
Due: none

RamInit
  chrysler_ram_1500.dbc
Due: none

Dasm Fault
  chrysler_ram_1500.dbc
Due: none

match new chrysler stuff
  chrysler_ram_1500.dbc
Due: none

little more
  chrysler_pacifica_2017_hybrid.dbc
  chrysler_ram_1500.dbc
Due: none

some more
  chrysler_pacifica_2017_hybrid.dbc
  chrysler_ram_1500.dbc
Due: none

wait a little longer before printing
  can/parser.cc
Due: cppcheck

better names
  chrysler_ram_1500.dbc
Due: none

Add old signal for verification
  chrysler_pacifica_2017_hybrid.dbc
Due: none

vw_golf_mk4: translate signals to english as comments (#653)
  vw_golf_mk4.dbc
Due: none

English as comments episode 2
  vw_golf_mk4.dbc
Due: none

remove old
  chrysler_pacifica_2017_hybrid.dbc
Due: none

Chrysler: fix steering angle signals (#645)
  chrysler_pacifica_2017_hybrid.dbc
Due: none

Fix angle signal scaling
  chrysler_ram_1500.dbc
Due: none

huh, really? these new lines seemed useful to me
  vw_golf_mk4.dbc
Due: none

my bad
  vw_golf_mk4.dbc
Due: none

synchronize function signatures
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
Due: cppcheck

if-spaghetti reduction
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
Due: cppcheck

add to cython
  can/common.pxd
Due: none

refactor per-manufacturer checksum calculation (#650)
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
Due: cppcheck

Chrysler: update signal names to be consistent with Ram port
  chrysler_pacifica_2017_hybrid.dbc
Due: none

generate common stuff
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_1500.dbc
  chrysler_ram_dt_generated.dbc
  generator/chrysler/.gitignore
  generator/chrysler/_stellantis_common.dbc
  generator/chrysler/chrysler_pacifica_2017_hybrid.dbc
  generator/chrysler/chrysler_ram_dt.dbc
  generator/chrysler/generate_ram.py
  generator/generator.py
Due: pylint

little more
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  generator/chrysler/_stellantis_common.dbc
  generator/chrysler/chrysler_pacifica_2017_hybrid.dbc
  generator/chrysler/chrysler_ram_dt.dbc
  generator/chrysler/generate_ram.py
Due: pylint

vw_golf_mk4: translate signals to English as comments episode 2 (#654)
  vw_golf_mk4.dbc
Due: none

remove extra semicolon
  vw_golf_mk4.dbc
Due: none
