Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

VW MQB: Updated ACC_07 and TSK_06 signals and values (#475)
  vw_mqb_2010.dbc
Due: none

GM: Add AEB & Friction Brake * Camera-based ACC uses the PT bus for friction brake Packet structure matches ASCM version from Chassis Bus * Added AEB message from FFC (Possibly also ASCM)
  gm_global_a_powertrain.dbc
Due: none

GM: Add Pedal Interceptor messages
  gm_global_a_powertrain.dbc
Due: none

Revert "GM: Add Pedal Interceptor messages"
  gm_global_a_powertrain.dbc
Due: none

GM: Add Friction Brake, AEB messages (#477)
  gm_global_a_powertrain.dbc
Due: none

GM: Add generated w pedal supp
  generator/gm/_comma.dbc
  generator/gm/_gm_global_a_powertrain.dbc
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

GM remove redundant dbc
  generator/gm/_gm_global_a_powertrain.dbc
  generator/gm/gm_global_a_powertrain.dbc
Due: none

forgot to run generator
  gm_global_a_powertrain_generated.dbc
Due: none

Toyota: Correct Comment on Barriers Values
  generator/toyota/_toyota_2017.dbc
Due: none

Update Generated Files
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

Initial version of actuator dbc. Scalings represent my system gear ratios. See derivation in signal decriptions.
  OpenActuator.dbc
Due: none

cleanup includes
  can/SConscript
  can/dbc.cc
Due: cppcheck

cleanup import
  can/tests/test_dbc.py
Due: pylint

merge master
  can/dbc_pyx.pyx
  can/tests/test_dbc.py
Due: pylint

cleanup
  can/common.pxd
  can/packer_pyx.pyx
  can/parser_pyx.pyx
Due: none

parser
  can/parser.py
Due: pylint

temp change std::map::at() to []
  can/dbc.cc
Due: cppcheck

common ReverseBytes
  can/common.cc
  can/common.h
  can/common.pxd
  can/dbc_pyx.pyx
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.py
Due: pylint, cppcheck

cleanup
  can/dbc_out/.gitignore
  can/dbc_out/.gitkeep
Due: none

import
  can/tests/test_dbc.py
Due: pylint

dbc.py->dbc_pyx.pyx
  .gitignore
  can/SConscript
  can/dbc.py
  can/dbc_pyx.pyx
  can/parser.py
Due: pylint

fix main()
  can/process_dbc.py
Due: pylint

add thread lock
  can/dbc_parser_pyx.pyx
Due: none

c++ parser
  .gitignore
  can/SConscript
  can/common_dbc.h
  can/dbc.cc
  can/dbc.py
  can/dbc_parser_pyx.pyx
  can/packer_pyx.pyx
  can/parser_pyx.pyx
  can/process_dbc.py
Due: pylint, cppcheck

cleanup
  can/SConscript
  can/dbc.cc
  can/tests/test_dbc_exceptions.py
Due: pylint, cppcheck

continue
  .gitignore
  can/SConscript
  can/common.pxd
  can/dbc.py
  can/dbc_parser_pyx.pyx
  can/packer_pyx.pyx
  can/parser_pyx.pyx
  can/process_dbc.py
Due: pylint

remove extern C dbc_lookup
  can/dbc.cc
Due: cppcheck

make test_dbc_exceptions happy
  can/dbc_parser_pyx.pyx
  can/tests/test_dbc_exceptions.py
Due: pylint

test_dbc
  can/tests/test_dbc.py
Due: pylint

quick draft
  can/SConscript
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/parser.cc
  can/parser_pyx.pyx
  can/process_dbc.py
Due: pylint, cppcheck

remove function str
  can/SConscript
  can/dbc.cc
Due: cppcheck

cleanup sconscript
  can/SConscript
Due: none

stod
  can/dbc.cc
Due: cppcheck

disable=unused-import
  can/parser.py
Due: pylint

use vector::size()
  can/common.pxd
  can/common_dbc.h
  can/dbc_parser_pyx.pyx
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

cleanup
  can/common_dbc.h
  can/dbc_parser_pyx.pyx
Due: cppcheck

trim def_val
  can/dbc.cc
Due: cppcheck

continue
  can/SConscript
  can/dbc.cc
Due: cppcheck

add comment about pedal
  can/dbc.cc
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
