Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

Added new DBC file: mazda_radar.dbc
  mazda_radar.dbc
Due: none

build on ubuntu 22.04
  Dockerfile
  requirements.txt
Due: none

Added missing RVEL_OBJ
  mazda_radar.dbc
Due: none

Fixed signal
  mazda_radar.dbc
Due: none

Added new DBC file: mazda_radar.dbc (#596)
  mazda_radar.dbc
Due: none

2022 Honda Civic DBC
  acura_ilx_2016_can_generated.dbc
  acura_rdx_2018_can_generated.dbc
  acura_rdx_2020_can_generated.dbc
  generator/honda/_bosch_2018.dbc
  generator/honda/_honda_common.dbc
  generator/honda/acura_ilx_2016_can.dbc
  generator/honda/acura_rdx_2018_can.dbc
  generator/honda/acura_rdx_2020_can.dbc
  generator/honda/honda_accord_2018_can.dbc
  generator/honda/honda_civic_ex_2022.dbc
  generator/honda/honda_civic_hatchback_ex_2017_can.dbc
  generator/honda/honda_civic_touring_2016_can.dbc
  generator/honda/honda_clarity_hybrid_2018_can.dbc
  generator/honda/honda_crv_executive_2016_can.dbc
  generator/honda/honda_crv_touring_2016_can.dbc
  generator/honda/honda_fit_ex_2018_can.dbc
  generator/honda/honda_fit_hybrid_2018_can.dbc
  generator/honda/honda_insight_ex_2019_can.dbc
  generator/honda/honda_odyssey_exl_2018.dbc
  generator/honda/honda_odyssey_extreme_edition_2018_china_can.dbc
  honda_civic_ex_2022_generated.dbc
  honda_civic_hatchback_ex_2017_can_generated.dbc
  honda_civic_touring_2016_can_generated.dbc
  honda_clarity_hybrid_2018_can_generated.dbc
  honda_crv_ex_2017_can_generated.dbc
  honda_crv_executive_2016_can_generated.dbc
  honda_crv_touring_2016_can_generated.dbc
  honda_fit_ex_2018_can_generated.dbc
  honda_fit_hybrid_2018_can_generated.dbc
  honda_insight_ex_2019_can_generated.dbc
  honda_odyssey_exl_2018_generated.dbc
  honda_odyssey_extreme_edition_2018_china_can_generated.dbc
Due: none

remove dupe
  generator/honda/honda_civic_ex_2022.dbc
  honda_civic_ex_2022_generated.dbc
Due: none

missing
  generator/honda/honda_insight_ex_2019_can.dbc
  honda_insight_ex_2019_can_generated.dbc
Due: none

Fixed track msg names. Removed unrelated radar msgs.
  mazda_radar.dbc
Due: none

add possible acc faulted signal
  chrysler_pacifica_2017_hybrid.dbc
Due: none

mazda_radar: fix track msg names and remove unrelated radar msgs (#599)
  mazda_radar.dbc
Due: none

update comments
  chrysler_pacifica_2017_hybrid.dbc
Due: none

revert this comment
  chrysler_pacifica_2017_hybrid.dbc
Due: none

add park_brake signal
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

GM: Add ParkBrake signal for manual parking brakes (#601)
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

initial commit, bring over from deanlee's PR based on newer commit
  SConstruct
  can/SConscript
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/parser_pyx.pyx
  hyundai_kia_generic.dbc
Due: cppcheck

fix lsb
  can/dbc.cc
Due: cppcheck

fix msb, lsb, size
  can/dbc.cc
  hyundai_kia_generic.dbc
Due: cppcheck

clean up
  SConstruct
  can/SConscript
  can/common.h
  can/common_dbc.h
  can/dbc.cc
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

need this for CI
  can/SConscript
Due: none

add missing body checksum/counter
  can/dbc.cc
Due: cppcheck

get dir from BASEDIR first, then $HOME
  can/SConscript
  can/dbc.cc
Due: cppcheck

fix CI
  .github/workflows/tests.yml
Due: none

doesn't work
  can/SConscript
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

just hardcode when compiling
  .github/workflows/tests.yml
  can/SConscript
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

remove process_dbc
  can/SConscript
  can/process_dbc.py
Due: pylint

add test for startup time
  can/dbc.cc
  can/tests/test_dbc_parsing_speed.py
Due: pylint, cppcheck

test can parsing
  can/tests/test_dbc_parsing_speed.py
  can/tests/test_parser_speed.py
Due: pylint

fix
  can/tests/test_parser_speed.py
Due: pylint

better
  can/tests/test_parser_speed.py
Due: pylint

bye bye dbc.py
  can/dbc.py
Due: pylint

fix startswith
  can/dbc.cc
Due: cppcheck

add function to get dbc names for plotjuggler
  can/common_dbc.h
  can/dbc.cc
Due: cppcheck

check DBC_FILE_PATH
  can/dbc.cc
Due: cppcheck

revert
  can/dbc.cc
Due: cppcheck

fix duplicate messages
  luxgen_s5_2015.dbc
  volvo_v40_2017_pt.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
