Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-ast
    -   id: check-yaml
    -   id: check-merge-conflict
    -   id: check-symlinks
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    -   id: codespell
        exclude: '\.dbc$'
        args:
        - --check-hidden
        - --builtins clear,rare,informal,usage,code,names,en-GB_to_en-US
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    -   id: mypy
-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        exclude: 'site_scons/'
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: 'site_scons/'
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
-   repo: https://github.com/MarcoGorelli/cython-lint
    rev: v0.15.0
    hooks:
    -   id: cython-lint
    -   id: double-quote-cython-strings
-   repo: https://github.com/cpplint/cpplint
    rev: 1.6.1
    hooks:
    -   id: cpplint
        args:
        - --quiet
        - --counting=detailed
        - --linelength=240
        - --filter=-legal,-build/include_order,-readability/casting,-whitespace/braces,-whitespace/indent,-whitespace/operators,-build/c++11,-readability/todo,-runtime/explicit,-runtime/int,-whitespace/comments,-readability/braces,-runtime/arrays,-runtime/references
-   repo: local
    hooks:
    -   id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        types: [c++]
        args:
        - --error-exitcode=1
        - --language=c++
        - --force
        - --quiet
        - -j4
-   repo: local
    hooks:
    -   id: generator
        name: dbc generator
        entry: generator/test_generator.py
        language: script
        pass_filenames: false

Update vw_meb.dbc roughly better factor for lead distane hud
  vw_meb.dbc
Due: none

Update vw_meb.dbc
  vw_meb.dbc
Due: none

Update vw_meb.dbc fix distance signal
  vw_meb.dbc
Due: none

Update vw_meb.dbc fix meb_esp_01
  vw_meb.dbc
Due: none

Update vw_meb.dbc fix meb distance, same lane 01 developing
  vw_meb.dbc
Due: none

Update vw_meb.dbc fix long same lane 01 distance factor, have to measure exactly soon
  vw_meb.dbc
Due: none

Update common.cc add meb abs 01 magic bytes
  can/common.cc
Due: cppcheck

Update vw_meb.dbc add checksum and counter for meb eps 01
  vw_meb.dbc
Due: none

Update common.cc add magic bytes
  can/common.cc
Due: cppcheck

Update common.cc add magic bytes for meb motor 01
  can/common.cc
Due: cppcheck

Update vw_meb.dbc add checksum and counter for meb_esp_03
  vw_meb.dbc
Due: none

Update common.cc add myagic bytes motor_14
  can/common.cc
Due: cppcheck

Update vw_meb.dbc add checksum and counter for motor_14
  vw_meb.dbc
Due: none

Update common.cc motor_14 already exists, removing duplicate entry
  can/common.cc
Due: cppcheck

Update vw_meb.dbc add travel assist signal
  vw_meb.dbc
Due: none

Update vw_meb.dbc fix
  vw_meb.dbc
Due: none

Update vw_meb.dbc lower long distance factor.. i still dont understand, why min and max measurements differ this much. have a better low distance value for now
  vw_meb.dbc
Due: none

Update common.cc add meb travel assist
  can/common.cc
Due: cppcheck

Update vw_meb.dbc this is a type of greyish brigtness
  vw_meb.dbc
Due: none

Update vw_meb.dbc fix long dist same lane 01 measured at about 50 m and shifted regarding physical zero distance
  vw_meb.dbc
Due: none

Update vw_meb.dbc prepare steering command for curvature tests
  vw_meb.dbc
Due: none

Update vw_meb.dbc guestimate curvature max of 0.1m^-1 -> 0.05 signed
  vw_meb.dbc
Due: none

Update vw_meb.dbc use a little bit less than possible cupra born turning cycle as estimate for now, maximum curvature of signal should be around 0.2 1/m, so 0,1 signed
  vw_meb.dbc
Due: none

Update vw_meb.dbc factor for 0.2 curvature
  vw_meb.dbc
Due: none

Update vw_meb.dbc change offset a little bit for yaw rate
  vw_meb.dbc
Due: none

Update vw_meb.dbc change curv to 1/mm
  vw_meb.dbc
Due: none

Update vw_meb.dbc change curv to a "round" value from here
  vw_meb.dbc
Due: none

keep the same style
  can/tests/test_packer_parser.py
Due: pylint
