Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

CANParser: add timestamp field (#779)
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

Add cluster speed signal
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

add the counter
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

add comment
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

gen
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

GM: add a cluster speed signal (#780)
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

Add temporary EPS fault bit
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  chrysler_ram_hd_generated.dbc
  generator/chrysler/_stellantis_common.dbc
Due: none

Chrysler: add temporary EPS fault bit (#781)
  chrysler_pacifica_2017_hybrid_generated.dbc
  chrysler_ram_dt_generated.dbc
  chrysler_ram_hd_generated.dbc
  generator/chrysler/_stellantis_common.dbc
Due: none

HKG: Car Port for 2023 Hyundai Palisade & Kia Telluride
  hyundai_palisade_2023.dbc
Due: none

Add friction brake unavailable signal
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

GM: add friction brake unavailable signal (#782)
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

Remove whitespace
  can/common.cc
Due: cppcheck

This doesn't exist
  hyundai_palisade_2023.dbc
Due: none

ts_nanos tests
  can/tests/test_packer_parser.py
Due: pylint

check set is length 1
  can/tests/test_packer_parser.py
Due: pylint

same style as below
  can/tests/test_packer_parser.py
Due: pylint

CANParser: ts_nanos test (#785)
  can/tests/test_packer_parser.py
Due: pylint

build static library
  .gitignore
  can/SConscript
Due: none

added mazda_2019.db
  honda_odyssey_hybrid_2022_china_can_generated.dbc
  mazda_2019.dbc
  toyota_nodsu_pt_generated.dbc
Due: none

added mazda checksum
  can/common.cc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
Due: cppcheck

fix set speed definitions
  hyundai_palisade_2023.dbc
Due: none

ugh, new blind spot indicator signals
  hyundai_palisade_2023.dbc
Due: none

fill it up
  hyundai_palisade_2023.dbc
Due: none

Checksum seems to be the same for most
  can/dbc.cc
Due: cppcheck

won't work
  can/dbc.cc
Due: cppcheck

fill up LFAHDA_MFC
  hyundai_palisade_2023.dbc
Due: none

split up the bytes
  hyundai_palisade_2023.dbc
Due: none

add StopReq
  hyundai_palisade_2023.dbc
Due: none

use same checksum name
  hyundai_palisade_2023.dbc
Due: none

define 0x4a2
  hyundai_palisade_2023.dbc
Due: none

some radar msgs
  hyundai_palisade_2023.dbc
Due: none

fill them up
  hyundai_palisade_2023.dbc
Due: none

Add single pedal mode signals for Bolt EV/EUV
  generator/gm/gm_global_a_powertrain.dbc
  gm_global_a_powertrain_generated.dbc
Due: none

VW PQ: Corrected brake command scaling
  vw_golf_mk4.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
