Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

CI: use pytest (#1053)
  .github/workflows/tests.yml
  requirements.txt
Due: none

CI: use pytest (#1053)
  requirements.txt
Due: none

embeded msg struct
  can/common.h
  can/parser.cc
Due: cppcheck

space
  can/common.cc
Due: cppcheck

Initializes CRC lookup tables at module initialization (#1051)
  can/common.cc
  can/common.h
  can/packer.cc
  can/parser.cc
Due: cppcheck

merge master
  can/parser_pyx.pyx
Due: none

refactor CanParser
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

remove dependence on cereal
  SConstruct
  can/SConscript
  can/common.h
  can/common.pxd
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

parse can strings in a c++ helper function
  can/SConscript
  can/parser_pyx.pyx
  can/strings_to_candata.cc
Due: cppcheck

remove all cereal
  can/SConscript
  can/common.h
  can/common.pxd
  can/parser_pyx.pyx
  can/strings_to_candata.cc
  can/tests/test_checksums.py
  can/tests/test_packer_parser.py
  can/tests/test_parser_performance.py
Due: pylint, cppcheck

reserve
  can/common.h
  can/parser.cc
Due: cppcheck

use itervalues
  can/parser_pyx.pyx
Due: none

rebase master
  can/common.h
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

pre-alloc tmp_vals
  can/common.h
  can/parser.cc
Due: cppcheck

cleanup
  can/common.h
  can/parser.cc
Due: cppcheck

added rivian dbc
  rivian_can.dbc
Due: none

auto format rivian dbc
  rivian_can.dbc
Due: none

checkpoint
  fca_giorgio.dbc
Due: none

added IndicatorLights
  rivian_can.dbc
Due: none

CI: setup auto PR review
  .github/labeler.yaml
  .github/workflows/auto_pr_review.yaml
Due: none

Update vw_meb.dbc add signal for car start info kl15
  vw_meb.dbc
Due: none

Update vw_meb.dbc add bcm_01
  vw_meb.dbc
Due: none

Update vw_meb.dbc remove non existing signals
  vw_meb.dbc
Due: none

Update vw_meb.dbc adapt ign signal
  vw_meb.dbc
Due: none

Update vw_meb.dbc fix ign
  vw_meb.dbc
Due: none

Update vw_meb.dbc add potential door signals
  vw_meb.dbc
Due: none

Update vw_meb.dbc
  vw_meb.dbc
Due: none

Update vw_meb.dbc adapt values
  vw_meb.dbc
Due: none

Update vw_meb.dbc add potential wheel speed signal
  vw_meb.dbc
Due: none

Update vw_meb.dbc correct speed interval
  vw_meb.dbc
Due: none

Update vw_meb.dbc add signals
  vw_meb.dbc
Due: none

Update vw_meb.dbc add more signals
  vw_meb.dbc
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
