Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

Assert for parsing DynamicStruct, can ignore checksum/counter messages
  can/common.h
  can/parser.cc
Due: cppcheck

Only write processed dbc on changes, to prevent cmake compiling
  can/process_dbc.py
Due: pylint

Do not fail on creating new DBC outputs
  can/process_dbc.py
Due: pylint

Remove print statement
  can/process_dbc.py
Due: pylint

new brake messages. still kinda unknown.
  nissan_leaf_2018.dbc
Due: none

brake system related messages.
  nissan_leaf_2018.dbc
Due: none

added USER_BRAKE_PRESSED bits
  nissan_leaf_2018.dbc
Due: none

idk didn't work
  nissan_leaf_2018.dbc
Due: none

Corrected CRC pad byte for ACC_10
  can/common.cc
Due: cppcheck

VW MQB: Corrected CRC pad byte for ACC_10 (#353)
  can/common.cc
Due: cppcheck

const Signal&
  can/packer.cc
Due: cppcheck

init message_states map without making copies
  can/parser.cc
Due: cppcheck

aligned buffer
  can/common.h
  can/parser.cc
Due: cppcheck

packer.cc: const Signal& (#354)
  can/packer.cc
Due: cppcheck

outer ignore_checksum and ignore_counter
  can/parser.cc
Due: cppcheck

update_string: use cached buffer (#356)
  can/common.h
  can/parser.cc
Due: cppcheck

init message_states map without making copies (#355)
  can/parser.cc
Due: cppcheck

whitespace
  can/parser.cc
Due: cppcheck

Modified can parser to run it from PlotJuggler (#352)
  can/common.h
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/parser.cc
  can/process_dbc.py
Due: pylint, cppcheck

Updated LDW_02 signal data
  vw_mqb_2010.dbc
Due: none

Updated EPS_01/LH_EPS_03 signal data
  vw_mqb_2010.dbc
Due: none

Match driver input torque to prior scale
  vw_mqb_2010.dbc
Due: none

More EPS_01 -> LH_EPS_03
  can/common.cc
Due: cppcheck

Canonical signal data for ACC_02 and ACC_04
  vw_mqb_2010.dbc
Due: none

Add CRC support for ACC_04
  can/common.cc
Due: cppcheck

Add SDSU to Toyota/Lexus DBCs
  generator/toyota/_comma.dbc
  lexus_ct200h_2018_pt_generated.dbc
  lexus_gs300h_2017_pt_generated.dbc
  lexus_is_2018_pt_generated.dbc
  lexus_nx300_2018_pt_generated.dbc
  lexus_nx300h_2018_pt_generated.dbc
  lexus_rx_350_2016_pt_generated.dbc
  lexus_rx_hybrid_2017_pt_generated.dbc
  toyota_avalon_2017_pt_generated.dbc
  toyota_camry_hybrid_2018_pt_generated.dbc
  toyota_corolla_2017_pt_generated.dbc
  toyota_highlander_2017_pt_generated.dbc
  toyota_highlander_hybrid_2018_pt_generated.dbc
  toyota_nodsu_hybrid_pt_generated.dbc
  toyota_nodsu_pt_generated.dbc
  toyota_prius_2017_pt_generated.dbc
  toyota_rav4_2017_pt_generated.dbc
  toyota_rav4_hybrid_2017_pt_generated.dbc
  toyota_sienna_xle_2018_pt_generated.dbc
Due: none

tesla driver braking
  tesla_can.dbc
Due: none

Tesla driver braking (#360)
  tesla_can.dbc
Due: none

VW MQB: Updated message and signal data, round 1 (#357)
  can/common.cc
  vw_mqb_2010.dbc
Due: cppcheck

Moved SDSU & ZSS to new, community DBC
  generator/toyota/_comma.dbc
  generator/toyota/_community.dbc
Due: none

Brake pedal position sensors and normalized/scaled brake/decel signal.
  cadillac_ct6_powertrain.dbc
  gm_global_a_powertrain.dbc
Due: none

update python to 3.8.5
  Dockerfile
Due: none

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: can/dbc_template.cc
