Repository commaai/opendbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cppcheck

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --force
  - --quiet
  - -j4

steering angle and torque scaling corrections
  fca_giorgio.dbc
Due: none

ACC_7 raw accelerometers
  fca_giorgio.dbc
Due: none

more updates
  fca_giorgio.dbc
Due: none

probable reverse signal, other tweaks
  fca_giorgio.dbc
Due: none

more final XOR variants
  can/common.cc
Due: cppcheck

misc updates
  fca_giorgio.dbc
Due: none

Update CAN data handling functions for raw data and size parameters
  can/common.cc
  can/common.h
  can/common_dbc.h
  can/packer.cc
  can/parser.cc
Due: cppcheck

fix counter
  can/packer.cc
Due: cppcheck

catch this issue in test case
  can/tests/test_packer_parser.py
Due: pylint

improve logging
  .pre-commit-config.yaml
  can/common.h
  can/logger.h
  can/parser.cc
Due: cppcheck

improve logging (#1048)
  .pre-commit-config.yaml
  can/common.h
  can/logger.h
  can/parser.cc
Due: cppcheck

CANPacker: fix incorrect `counters` assignment (#1047)
  can/packer.cc
  can/tests/test_packer_parser.py
Due: pylint, cppcheck

BMW f1x: first version
  bmw_f1x.dbc
Due: none

assert expected openpilot behavior
  can/tests/test_packer_parser.py
Due: pylint

assert expected openpilot undefined message behavior (#1050)
  can/tests/test_packer_parser.py
Due: pylint

Return empty values and log an error for invalid addresses.
  can/packer.cc
  can/packer_pyx.pyx
Due: cppcheck

no need to make this more dense
  can/packer_pyx.pyx
Due: none

constify it
  can/common.h
  can/packer.cc
Due: cppcheck

build message lookup table in dbc
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

Initializes CRC lookup tables at module initialization
  can/common.cc
  can/common.h
  can/packer.cc
  can/parser.cc
Due: cppcheck

save one map lookup
  can/packer_pyx.pyx
Due: none

CANParser: fix can data size issue (#799)
  can/parser.cc
Due: cppcheck

TODO
  can/parser.cc
Due: cppcheck

only try what is to be traught
  can/packer.cc
  can/packer_pyx.pyx
Due: cppcheck

rename back
  can/packer_pyx.pyx
Due: none

LOGE
  can/packer.cc
Due: cppcheck

no -
  can/packer.cc
Due: cppcheck

packer: log undefined address/signal as error (#1052)
  can/packer.cc
Due: cppcheck

pytest
  .github/workflows/tests.yml
Due: none

might need
  requirements.txt
Due: none

from merge
  can/packer.cc
Due: cppcheck

show addr
  can/parser_pyx.pyx
Due: none

build message lookup table in DBC (#942)
  can/common.h
  can/common.pxd
  can/common_dbc.h
  can/dbc.cc
  can/packer.cc
  can/packer_pyx.pyx
  can/parser.cc
  can/parser_pyx.pyx
Due: cppcheck

Path conditions:
  pylint: any of: \.py$, but not: site_scons/
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
